driftfile /var/lib/ntp/drift

restrict default kod nomodify notrap nopeer noquery
restrict -6 default kod nomodify notrap nopeer noquery

restrict 127.0.0.1 
restrict -6 ::1

{% for host in (groups['utility-cluster'] | intersect(groups[realm])) %}
server {{ hostvars[host]['ansible_eth0']['ipv4']['address'] }} iburst
{% endfor %}

includefile /etc/ntp/crypto/pw

keys /etc/ntp/keys
