new_tenant_state_code:
  - tenant: {{ tenant_name }}
    state_code: {{ tenant_state_code }}

new_staging_database:
  - db: {{ tenant_name }}
    login_user: "{{ staging_db_user }}"
    login_password: "{{ vaulted_staging_db_password }}"

{% if tenant_user is defined and tenant_user != "" %}
new_lz_user_tenant:
  - { user: {{ tenant_user }}, tenant: {{ tenant_name }}, key_name: id_rsa.pub }
{% else %}
new_lz_user_tenant:
  - { user: test_lz_{{ tenant_name }}_user, tenant: {{ tenant_name }}, key_name: id_rsa.pub }
{% endif %}

new_udl_server_conf_lines:
  - { regexp: '^prod_db_conn.{{ tenant_name }}.url\s*=', line: "prod_db_conn.{{ tenant_name }}.url = postgresql://{{ master_db_user }}:{{ master_db_password }}@{{ tmp_master_private_ip }}:5432/edware" }
  - { regexp: '^target_db_conn.{{ tenant_name }}.url\s*=', line: "target_db_conn.{{ tenant_name }}.url = postgresql://{{ staging_db_user }}:{{ staging_db_password }}@{{ udl_staging_db_host }}:5432/{{ tenant_name }}" }
  - { regexp: '^prod_db_conn.{{ tenant_name }}.db_schema\s*=', line: "prod_db_conn.{{ tenant_name }}.db_schema = {{ new_prod_db_schema }}" }

{{ tenant_name }}_master_db_ip: "{{ tmp_master_db_ip }}"
{{ tenant_name }}_master_private_ip: "{{ tmp_master_private_ip }}"

new_master_db_ip:
  {{ tenant_name }}: "{{ tmp_master_db_ip }}"

new_master_private_ip:
  {{ tenant_name }}: "{{ tmp_master_private_ip }}"

{{ tenant_name }}_cds_db_ip: "{{ tmp_cds_db_ip }}"
{{ tenant_name }}_cds_private_ip: "{{ tmp_cds_private_ip }}"

new_cds_db_ip:
  {{ tenant_name }}: "{{ tmp_cds_db_ip }}"

new_cds_private_ip:
  {{ tenant_name }}: "{{ tmp_cds_private_ip }}"

{{ tenant_name }}_analytics_master_db_ip: "{{ tmp_analytics_master_db_ip }}"
{{ tenant_name }}_analytics_master_private_ip: "{{ tmp_analytics_master_private_ip }}"

new_analytics_master_db_ip:
  {{ tenant_name }}: "{{ tmp_analytics_master_db_ip }}"

new_analytics_master_private_ip:
  {{ tenant_name }}: "{{ tmp_analytics_master_private_ip }}"

{{ tenant_name }}_db_load_balancer_ip: "{{ tmp_db_load_balancer_ip }}"

new_db_load_balancer_ip:
  {{ tenant_name }}: "{{ tmp_db_load_balancer_ip }}"

{{ tenant_name }}_cds_load_balancer_ip: "{{ tmp_cds_load_balancer_ip }}"

new_cds_tenant_load_balancer_ip:
  {{ tenant_name }}: "{{ tmp_cds_load_balancer_ip }}"

analytics_{{ tenant_name }}_db_load_balancer_ip: "{{ analytics_tmp_db_load_balancer_ip }}"

new_analytics_data_source:
  - { tenant: "{{ tenant_name }}", db: "{{ analytics_tmp_db_load_balancer_ip }}", label: "{{ tenant_state_code }}" }

new_prod_db_schema:
  {{ tenant_name }}: {{ new_prod_db_schema }}

new_reporting_db_schema:
  {{ tenant_name }}: {{ new_prod_db_schema }}

new_reporting_server_configuration:
  - { option: 'edware.db.{{ tenant_name }}.url', value: "postgresql+psycopg2://{{ master_db_user }}:{{ master_db_password }}@{{ tmp_db_load_balancer_ip }}:9999/edware" }
  - { option: 'edware.db.{{ tenant_name }}.schema_name', value: "{{ new_prod_db_schema }}" }
  - { option: 'edware.cds.db.{{ tenant_name }}.url', value: "postgresql+psycopg2://{{ cds_db_user }}::{{ cds_db_password }}@{{ tmp_cds_load_balancer_ip }}:9999/edware" }
  - { option: 'edware.cds.db.{{ tenant_name }}.schema_name', value: "edware_tenant_cds" }
  - { option: 'edware.db.{{ tenant_name }}.state_code', value: {{tenant_state_code}} }

new_extract_server_configuration:
  - { option: 'edware.db.{{ tenant_name }}.url', value: "postgresql+psycopg2://{{ master_db_user }}:{{ master_db_password }}@{{ tmp_db_load_balancer_ip }}:9999/edware" }
  - { option: 'edware.db.{{ tenant_name }}.schema_name', value: "{{ new_prod_db_schema }}" }
  - { option: 'edware.cds.db.{{ tenant_name }}.url', value: "postgresql+psycopg2://{{ cds_db_user }}::{{ cds_db_password }}@{{ tmp_cds_load_balancer_ip }}:9999/edware" }
  - { option: 'edware.cds.db.{{ tenant_name }}.schema_name', value: "edware_tenant_cds" }
  - { option: 'edware.db.{{ tenant_name }}.state_code', value: {{tenant_state_code}} }

new_cds_parcc_migration_configuration:
  - { option: 'cds.consortium.migrate_source.db.{{ tenant_name }}.schema_name', value: 'edware_tenant_cds' }
  - { option: 'cds.consortium.migrate_source.db.{{ tenant_name }}.url', value: "postgresql+psycopg2://{{ cds_db_user }}:{{ cds_db_password }}@{{ tmp_cds_private_ip }}:5432/edware" }

new_starmigrate_db_schema:
  {{ tenant_name }}: starmigrate

new_analytics_db_schema:
  {{ tenant_name }}: analytics

new_state_code:
  - {{ tenant_state_code }}

tmp_hal_program:
  udl2:
    - regex: "{{ udl_success_message }} {{ tenant_name }}"
      code: "{{ new_udl_success_code }}"
    - regex: "{{ udl_failure_message }} {{ tenant_name }}"
      code: "{{ new_udl_failure_code }}"

new_tenant_specific_codes:
 - "{{ new_udl_success_code }}"
 - "{{ new_udl_failure_code }}"

new_udl_success_code: "{{ new_udl_success_code }}"
new_udl_failure_code: "{{ new_udl_failure_code }}"

tenant: {{ tenant_name }}
reinitialize_tenant_dbs: true
