{
    "sensu": [
        {
            "name": "{{realm}}",
            "host": "{{uchiwa_sensu_api_ip}}",
            "port": {{uchiwa_sensu_api_port}},
            "timeout": 5
        }
    ],
    "uchiwa": {
        "host": "0.0.0.0",
        "port": {{uchiwa_port}},
        "interval": 5
    }
}
