SHELL=/bin/bash
PATH=/sbin:/bin:/usr/sbin:/usr/bin:/usr/local/bin
MAILTO={{ mail_list }}
HOME=/home/{{ a_user }}

00 21 * * * {{ a_user }} . /home/{{ a_user }}/.bashrc && cd {{orchestrator_devops_targetdir}}/ansible_playbooks && ansible-playbook -i applications/inventory/ec2.sh applications/dw-backup.yml -e realm={{ orchestrated_env_realm }} -e vaulted_var_file={{ vaulted_var_file }} --private-key={{ ansible_user_home_dir }}/.ssh/{{ awsacct_env_var }}-{{ release }}-{{ orchestrator_instance_id.content }}.pem
