SHELL=/bin/bash
PATH=/sbin:/bin:/usr/sbin:/usr/bin:/usr/local/bin
MAILTO={{ mail_list }}
HOME=/home/{{ a_user }}

00 4 * * * {{ a_user }} . /home/{{ a_user }}/.bashrc && {{ orchestrator_deployment_scriptspath }}/orchestration_deployment_script.sh TEARDOWN=Y
