Listen {{ graphite_web_app_port }}

<VirtualHost *:{{ graphite_web_app_port }}>
    Alias /media/ "/usr/lib/python2.6/site-packages/django/contrib/admin/media/"
    WSGIScriptAlias / /usr/share/graphite/graphite-web.wsgi
    WSGIImportScript /usr/share/graphite/graphite-web.wsgi process-group=%{GLOBAL} application-group=%{GLOBAL}

    <Location "/content/">
        SetHandler None
    </Location>

    <Location "/media/">
        SetHandler None
    </Location>
</VirtualHost>
