WSGIApplicationGroup %{GLOBAL}
WSGIPassAuthorization On
WSGIDaemonProcess pyramid user=apache group=apache processes={{ wsgi_process_count }} threads={{ wsgi_thread_count }} python-path=/opt/virtualenv/reporting/lib/python3.3/site-packages

Alias /assets/images/ /opt/virtualenv/reporting/lib/python3.3/site-packages/reporting-0.1-py3.3.egg/assets/images/
Alias /assets/icons/ /opt/virtualenv/reporting/lib/python3.3/site-packages/reporting-0.1-py3.3.egg/assets/icons/
Alias /assets/css/ /opt/virtualenv/reporting/lib/python3.3/site-packages/reporting-0.1-py3.3.egg/assets/css/
Alias /assets/js/ /opt/virtualenv/reporting/lib/python3.3/site-packages/reporting-0.1-py3.3.egg/assets/js/
Alias /assets/html/ /opt/virtualenv/reporting/lib/python3.3/site-packages/reporting-0.1-py3.3.egg/assets/html/

WSGIScriptAlias / /opt/edware/reporting/reporting.wsgi
WSGIImportScript /opt/edware/reporting/reporting.wsgi process-group=pyramid application-group=%{GLOBAL}
WSGISocketPrefix run/wsgi
WSGIPythonOptimize 1
<Directory /opt/virtualenv/reporting/lib/python3.3/site-packages/reporting-0.1-py3.3.egg/assets/images>
   Order allow,deny
   Allow from all
</Directory>
<Directory /opt/virtualenv/reporting/lib/python3.3/site-packages/reporting-0.1-py3.3.egg/assets/icons>
   Order allow,deny
   Allow from all
   SetOutputFilter DEFLATE
</Directory>
<Directory /opt/virtualenv/reporting/lib/python3.3/site-packages/reporting-0.1-py3.3.egg/assets/css>
   Order allow,deny
   Allow from all
   SetOutputFilter DEFLATE
</Directory>
<Directory /opt/virtualenv/reporting/lib/python3.3/site-packages/reporting-0.1-py3.3.egg/assets/js>
   Order allow,deny
   Allow from all
   SetOutputFilter DEFLATE
</Directory>
<Directory /opt/virtualenv/reporting/lib/python3.3/site-packages/reporting-0.1-py3.3.egg/assets/html>
   Order allow,deny
   Allow from all
   SetOutputFilter DEFLATE
</Directory>
<Directory /opt/virtualenv/reporting>
   WSGIProcessGroup pyramid
   Order allow,deny
   Allow from all
   SetOutputFilter DEFLATE
</Directory>
WSGIPythonPath /opt/virtualenv/reporting/lib/python3.3/site-packages
