#!/usr/bin/env python
""" The script posts a json request to the HAL REST API"""

import requests
import json
import ConfigParser
import sys
import argparse
import re


def main(argv):
    parser = argparse.ArgumentParser(description='Send events to HAL.')

    parser.add_argument(
        '-c', '--code', action='store', help='HAL Event Code ex. 655')
    parser.add_argument(
        '-n', '--hostname', help='Hostname of the server event occurred on')
    parser.add_argument(
        '-t', '--timestamp', help='Timestamp of the event in YYYY-MM-DD HH:MM:SS TZ format eg "2015-09-09 19:24:35 UTC"')
    parser.add_argument(
        '-m', '--message', help='Message to send to HAL')

    args = parser.parse_args()

    config = ConfigParser.ConfigParser()
    if not config.read('{{ halinator_ini_file }}'):
        raise ValueError, "Failed to open config file @ '{{ halinator_ini_file }}'"

    message = args.message

    # Convert timestamp to remove timezone
    converted_timestamp = args.timestamp.rstrip(' UTC')

    # Convert tenant name in tenant specific messages to state code
    if (args.code in {{tenant_specific_codes}}):
        match = re.search(r'.* Tenant: ([a-z]*),?.*', message)
        if match:
            tenant_name = match.group(1)
            tenant_state_map = build_tenant_state_map()
            message = message.replace(tenant_name, tenant_state_map.get(tenant_name))

    payload = {
        'hostname': args.hostname,
        'appDateTime': converted_timestamp,
        'eventType': int(args.code),
        'appType': '{{ hal_app_type }}',
        'severity': int(config.get(args.code, 'severity')),
        'eventDesc': message
    }
    hal_api_url = '{{ hal_post_url }}'

    hal_proxies = {
        'http': 'http://{{ proxy_host }}:{{ proxy_port }}',
        'https': 'http://{{ proxy_host }}:{{ proxy_ssl_port }}',
    }

    send_event(hal_api_url, hal_proxies, payload)

def build_tenant_state_map():
    tenant_state_map = {}
    for item in {{ tenant_state_codes }}:
        tenant_state_map[item['tenant']] = item['state_code']
    return tenant_state_map

def send_event(url, post_proxies, json_payload):
    try:
        req = requests.post(url, proxies=post_proxies, data=json.dumps(json_payload))
        print req.json()
    except requests.exceptions.HTTPError as exception:
        print exception
        sys.exit(4)

if __name__ == "__main__":
    main(sys.argv[1:])
