jdbc.driver=org.postgresql.Driver
jdbc.url=jdbc:postgresql://{{pentaho_db_host}}:5432/hibernate
jdbc.username=hibuser
jdbc.password={{vaulted_pentaho_db_password}}
hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
