# For full set of properties see http://commons.apache.org/proper/commons-dbcp/configuration.html

# Please notice: this is only for Hypersonic. Update this for any other database you are using

# The fully qualified Java class name of the JDBC driver to be used
datasource.driver.classname=org.postgresql.Driver

# The connection URL to be passed to our JDBC driver to establish a connection
datasource.url=jdbc:postgresql://{{pentaho_db_host}}:5432/hibernate

# The connection username to be passed to our JDBC driver to establish a connection
datasource.username=hibuser

# The connection password to be passed to our JDBC driver to establish a connection
datasource.password={{vaulted_pentaho_db_password}}

# The SQL query that will be used to validate connections from this pool before returning them to the caller.
# This query must be an SELECT statement that returns at least one row.
# HSQLDB: SELECT 1 FROM INFORMATION_SCHEMA.SYSTEM_USERS
# MySQL, H2, MS-SQL, POSTGRESQL, SQLite: SELECT 1
# ORACLE: SELECT 1 FROM DUAL
datasource.validation.query=SELECT 1 FROM INFORMATION_SCHEMA.SYSTEM_USERS

# the maximum number of milliseconds that the pool will wait (when there are no available connections)
# for a connection to be returned before throwing an exception, or <= 0 to wait indefinitely. Default value is -1
datasource.pool.max.wait=-1

# The maximum number of active connections that can be allocated from this pool at the same time, or negative for no limit. Default value is 8
datasource.pool.max.active=8

# The maximum number of connections that can remain idle in the pool, without extra ones being destroyed, or negative for no limit. Default value is 8
datasource.max.idle=4

# The minimum number of connections that can remain idle in the pool, without extra ones being destroyed, or negative for no limit. Default value is 8
datasource.min.idle=2
