127.0.0.1   {{ansible_hostname}} localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         {{ansible_hostname}} localhost localhost.localdomain localhost6 localhost6.localdomain6

72.232.223.58       mirrorlist.centos.org
10.1.0.24           wgdc07.wgenhq.net
