#!/bin/bash

YUM_VERSION="$1"
if [[ -z "$YUM_VERSION" ]] ; then
    YUM_VERSION={{ yum_version }}
fi
CURRENT_ENV={{awsacct_env_var}}
case $CURRENT_ENV in
    qa )
        LOWER_BUCKET_BASENAME={{s3yum_bucket_basename}}-dev
        UPPER_BUCKET_BASENAME={{s3yum_bucket_basename}}-qa
        aws s3 sync s3://${LOWER_BUCKET_BASENAME}/ s3://${UPPER_BUCKET_BASENAME}/
        ;;
    stg )
        LOWER_BUCKET_BASENAME={{s3yum_bucket_basename}}-qa
        UPPER_BUCKET_BASENAME={{s3yum_bucket_basename}}-stg
        CHECK_VERSION_FOLDER_EXISTS=`aws s3 ls s3://${LOWER_BUCKET_BASENAME}/ | grep -o "${YUM_VERSION}"`
        if [[ -n "$CHECK_VERSION_FOLDER_EXISTS" ]] ; then
            echo "Grab the yum repo version sub-bucket [  ${YUM_VERSION}  ] from QA for Release to STG"
            aws s3 cp s3://${LOWER_BUCKET_BASENAME}/${YUM_VERSION} s3://${UPPER_BUCKET_BASENAME}/${YUM_VERSION} --recursive
        else
            echo "WARNING!! Yum version bucket folder {{yum_version}} not found in QA acct"
            exit 1
        fi
        ;;
    prod )
         LOWER_BUCKET_BASENAME=amplify-{{s3yum_bucket_basename}}-stg
         UPPER_BUCKET_BASENAME={{s3yum_bucket_basename}}-prod
         CHECK_VERSION_FOLDER_EXISTS=`aws s3 ls s3://${LOWER_BUCKET_BASENAME}/ | grep -o "${YUM_VERSION}"`
         if [[ -n "$CHECK_VERSION_FOLDER_EXISTS" ]] ; then
             echo "Grab the yum repo version sub-bucket [  ${YUM_VERSION}  ] from STG for Release to PROD"
             aws s3 cp s3://${LOWER_BUCKET_BASENAME}/${YUM_VERSION} s3://${UPPER_BUCKET_BASENAME}/${YUM_VERSION} --recursive
         else
             echo "WARNING!! Yum version bucket folder {{yum_version}} not found in STG acct"
             exit 1
         fi
         ;;
    * )
        echo 'Unrecognized environment name'
        exit 1
        ;;
esac
