{
 "pagerduty": {
   "api_key": "{{ service_integration_key }}"
 },
 "handlers": {
   "pagerduty": {
     "type": "pipe",
     "command": "/etc/sensu/handlers/pagerduty.rb",
     "severities": [
       "critical"
       ]
     }
   }
}
