#!/bin/bash

ENVIRONMENT={{awsacct_env_var}}
SCRIPT_LOCATION={{orchestrator_deployment_scriptspath}}
RELEASE={{release}}
THIS_ANSIBLESVR_REALM={{orchestrator_realm}}
REALM_MANAGED_BY_ORCHBOX={{orchestrated_env_realm}}

ORCH_ID_STR=`curl "http://169.254.169.254/latest/meta-data/instance-id"`
INFRA_DISTINCT_ID_PREFIX="${ENVIRONMENT}-${RELEASE}-${ORCH_ID_STR}"
VAULT_KEY_FILENAME_IN_S3="${INFRA_DISTINCT_ID_PREFIX}_vault_pass.txt"
VAULT_FILENAME_FOR_THIS_REALM="{{vault_filename}}"

if [ $ENVIRONMENT == "prod" ]; then
    KEYS_BUCKET_NAME=parcc-keys-{{awsacct_env_var}}
else
    KEYS_BUCKET_NAME=amplify-parcc-keys-{{awsacct_env_var}}
fi

if [ "$ENVIRONMENT" != "qa" ] ; then
    source {{orchestrator_deployment_scriptspath}}/{{release}}_{{awsacct_env_var}}_release_properties.sh
fi
THISRUN_DATESUFFIX=`date +%Y%m%d_%H%M`
TEMP_ARTIFACTS_DOWNLOAD_FILEPATH=/tmp/artifacts_retrieved_for_"$THISRUN_DATESUFFIX"
LATEST_REL_SUBDIR=""

function runParccDeploymentScript() {

    source /etc/profile

    echo "====================================================="
    echo "====================================================="

    cleanupResidualsOfPriorScriptRuns
    syncS3ArtifactsFromLowerEnviron
    grabArtifactsFromS3
    unpackParccDevOpsTarballArtifact
    if [ "$INCLUDE_INFRA_REBUILD" == "Y" ] ; then
        destroyCurrentPARCCinfrastructure
        sleep 30
    fi
    updatePARCCinfrastructure
    if [ "$?" = "0" ]; then
        sleep 60
        do_PARCC_applications_deployment
        if [ $ENVIRONMENT == "qa" ]; then
            runE2Etests
            if [ "$?" = "0" ]; then
                echo "End to End Tests passed" >&2
                uploadArtifactsToS3whenE2EtestsOK
            else
                echo "End to End Tests have failed" >&2
            fi
        fi
    else
        echo "Infrastructure playbook failed"
    fi

    echo "---------------------------------"
    echo "---------------------------------"
    echo "PARCC DEPLOYMENT SCRIPT FINISHED its run for "
    echo "    $THISRUN_DATESUFFIX "
    echo "  of the $ENVIRONMENT environment "
    echo "---------------------------------"
    echo "---------------------------------"

    echo "====================================================="
    echo "====================================================="

}

function syncS3ArtifactsFromLowerEnviron() {
    # Sync the buckets
    if [ $ENVIRONMENT == "qa" ] || [ $ENVIRONMENT == "dev" ] ; then
      $SCRIPT_LOCATION/pull_from_lower_s3.sh RELEASE={{release}}
    else
      $SCRIPT_LOCATION/pull_from_lower_s3.sh RELEASE={{release}} FOLDER="$ARTIFACT_FOLDER_NAME" YUMVERSION="$YUM_VERSION"
    fi
    return $?
}

function cleanupResidualsOfPriorScriptRuns() {

   for tmp_file in `ls -t /tmp/`
   do
    if [[ $tmp_file == ed* ]] || [[ $tmp_file == artifacts* ]] || [[ $tmp_file == reporting* ]] || [[ $tmp_file == starmigrate* ]] || [[ $tmp_file == hpz* ]] || [[ $tmp_file == pentaho_cust* ]]; then
        rm -R /tmp/"$tmp_file"
    fi
   done

}

function grabArtifactsFromS3() {

    mkdir "$TEMP_ARTIFACTS_DOWNLOAD_FILEPATH"
    if [ $ENVIRONMENT == "prod" ]; then
        BUCKET_NAME=parcc-artifacts-{{awsacct_env_var}}-{{release}}
    else
        BUCKET_NAME=amplify-artifacts-{{awsacct_env_var}}-{{release}}
    fi
    # Pull from the artifacts bucket of the AWS Account Environment owning the VPC of this host
    if [ -z "$ARTIFACT_FOLDER_NAME" ]; then
      $SCRIPT_LOCATION/pull_artifacts_from_s3.sh BUCKET="$BUCKET_NAME" DEST="$TEMP_ARTIFACTS_DOWNLOAD_FILEPATH"
    else
      $SCRIPT_LOCATION/pull_artifacts_from_s3.sh BUCKET="$BUCKET_NAME" FOLDER="$ARTIFACT_FOLDER_NAME" DEST="$TEMP_ARTIFACTS_DOWNLOAD_FILEPATH"
    fi
}

function unpackParccDevOpsTarballArtifact() {
    # Determine the Devops RPM Version that was downloaded to the local tmp directory dirtree
    artifactFilesList=`ls -Am "$TEMP_ARTIFACTS_DOWNLOAD_FILEPATH/"`
    DOWNLOADED_DEVOPS_RPM_FILENAME=`echo "$artifactFilesList" | grep -o -e "edware-devops-1\.[0-9]*-[0-9]*\.el6\.x86_64\.rpm"`
    DEVOPS_RPM_VERSION_IN_PROMOTION_BUCKET=`echo "$DOWNLOADED_DEVOPS_RPM_FILENAME" | sed -e 's/\.rpm//'`
    if [[ -n "$DOWNLOADED_DEVOPS_RPM_FILENAME" ]] ; then
        cp "$TEMP_ARTIFACTS_DOWNLOAD_FILEPATH/$DOWNLOADED_DEVOPS_RPM_FILENAME" "/tmp/$DOWNLOADED_DEVOPS_RPM_FILENAME"
    fi
    ## Retain the Realm-specific Vault file BEFORE new devops tarball is unpacked
    if [ "$INCLUDE_INFRA_REBUILD" == "N" ] && [[ -s "{{orchestrator_devops_targetdir}}/ansible_playbooks/vault_vars/$VAULT_FILENAME_FOR_THIS_REALM" ]] ; then
        cp "{{orchestrator_devops_targetdir}}/ansible_playbooks/vault_vars/$VAULT_FILENAME_FOR_THIS_REALM" "{{orchestrator_deployment_scriptspath}}/retained_copy_of-$VAULT_FILENAME_FOR_THIS_REALM";
    fi
    # Install/Update the Devops RPM Version that was downloaded if not already installed
    CURRENTLY_INSTALL_DEVOPS_RPM_VERSION=$(rpm -qa | grep "edware-devops*")
    if [ "$DEVOPS_RPM_VERSION_IN_PROMOTION_BUCKET" == "$CURRENTLY_INSTALL_DEVOPS_RPM_VERSION" ] ; then
        echo "Edware-Devops RPM [ $DEVOPS_RPM_VERSION_IN_PROMOTION_BUCKET ] is already installed and up-to-date...."
    elif [[ -e "/tmp/$DOWNLOADED_DEVOPS_RPM_FILENAME" ]] ; then
        rpm -Uvh "/tmp/$DOWNLOADED_DEVOPS_RPM_FILENAME"
    fi
    cd {{orchestrator_devops_targetdir}}
    ## Set Value of Infra GroupVars Keypair Value for Non-Orchestrator instances
    ##  to be provisioned  with the locally-created, Orchestrator-specific PEMKey [ when STG or PROD ONLY ]
    if [ "$ENVIRONMENT" == "stg" ] || [ "$ENVIRONMENT" == "prod" ] ; then
        establishNewPemKeyForRealm
        ##  AFTER new devops tarball is unpacked , ensure that vault_pass.txt and Vault exists
        establishAnsibleVaultFileForRealm
        sed -e "s/^keypair:.*$/keypair:\ \'$INFRA_DISTINCT_ID_PREFIX\'/g" -i /opt/edware_devops/ansible_playbooks/infrastructure/inventory/group_vars/{{awsacct_env_var}}
    fi
    # Ensure ownership of unpacked files and execution is enabled for our utility shellscripts - Disabled for a_user
    # chown -R root:root {{orchestrator_devops_targetdir}}
    # chmod a+x {{orchestrator_devops_targetdir}}/scripts/*.sh
    return $?
}

function destroyCurrentPARCCinfrastructure() {
    cd {{orchestrator_devops_targetdir}}/ansible_playbooks/
    ansible-playbook -i ./infrastructure/inventory/ec2.sh -f 30 -e realm=$REALM_MANAGED_BY_ORCHBOX ./infrastructure/site-terminate.yml
    return $?
}

function updatePARCCinfrastructure() {
    cd {{orchestrator_devops_targetdir}}/ansible_playbooks/
    ./infrastructure/parallel-infrastructure-playbook.py $REALM_MANAGED_BY_ORCHBOX {{awsacct_env_var}} -f 30
    return $?
}

function do_PARCC_applications_deployment() {
    # Determine the PARCC Component RPM Versions that were downloaded to the local tmp directory dirtree
    artifactFilesList=`ls -Am "$TEMP_ARTIFACTS_DOWNLOAD_FILEPATH/"`

    EDUDL2_RPM_FILENAME=`echo "$artifactFilesList" | grep -o -e "edudl2-0\.[0-9]*-[0-9]*\.el6\.x86_64\.rpm"`
    EDUDL2_VERSION_ARG=`echo "$EDUDL2_RPM_FILENAME" | sed -e 's/edudl2-//' -e 's/\.rpm//'`
    if [[ -n "$EDUDL2_RPM_FILENAME" ]] ; then
        cp -p "$TEMP_ARTIFACTS_DOWNLOAD_FILEPATH/$EDUDL2_RPM_FILENAME" /tmp/.
    fi

    EDSFTP_RPM_FILENAME=`echo "$artifactFilesList" | grep -o -e "edsftp-0\.[0-9]*-[0-9]*\.el6\.x86_64\.rpm"`
    EDSFTP_VERSION_ARG=`echo "$EDSFTP_RPM_FILENAME" | sed -e 's/edsftp-//' -e 's/\.rpm//'`
    if [[ -n "$EDSFTP_RPM_FILENAME" ]] ; then
        cp -p "$TEMP_ARTIFACTS_DOWNLOAD_FILEPATH/$EDSFTP_RPM_FILENAME" /tmp/.
    fi

    EDMIGRATE_RPM_FILENAME=`echo "$artifactFilesList" | grep -o -e "edmigrate-0\.[0-9]*-[0-9]*\.el6\.x86_64\.rpm"`
    EDMIGRATE_VERSION_ARG=`echo "$EDMIGRATE_RPM_FILENAME" | sed -e 's/edmigrate-//' -e 's/\.rpm//'`
    if [[ -n "$EDMIGRATE_RPM_FILENAME" ]] ; then
        cp -p "$TEMP_ARTIFACTS_DOWNLOAD_FILEPATH/$EDMIGRATE_RPM_FILENAME" /tmp/.
    fi

    EDEXTRACT_RPM_FILENAME=`echo "$artifactFilesList" | grep -o -e "edextract-0\.[0-9]*-[0-9]*\.el6\.x86_64\.rpm"`
    EDEXTRACT_VERSION_ARG=`echo "$EDEXTRACT_RPM_FILENAME" | sed -e 's/edextract-//' -e 's/\.rpm//'`
    if [[ -n "$EDEXTRACT_RPM_FILENAME" ]] ; then
        cp -p "$TEMP_ARTIFACTS_DOWNLOAD_FILEPATH/$EDEXTRACT_RPM_FILENAME" /tmp/.
    fi

    STARMIGRATE_RPM_FILENAME=`echo "$artifactFilesList" | grep -o -e "starmigrate-0\.[0-9]*-[0-9]*\.el6\.x86_64\.rpm"`
    STARMIGRATE_VERSION_ARG=`echo "$STARMIGRATE_RPM_FILENAME" | sed -e 's/starmigrate-//' -e 's/\.rpm//'`
    if [[ -n "$STARMIGRATE_RPM_FILENAME" ]] ; then
        cp -p "$TEMP_ARTIFACTS_DOWNLOAD_FILEPATH/$STARMIGRATE_RPM_FILENAME" /tmp/.
    fi

    REPORTING_RPM_FILENAME=`echo "$artifactFilesList" | grep -o -e "reporting-0\.[0-9]*-[0-9]*\.el6\.x86_64\.rpm"`
    REPORTING_VERSION_ARG=`echo "$REPORTING_RPM_FILENAME" | sed -e 's/reporting-//' -e 's/\.rpm//'`
    if [[ -n "$REPORTING_RPM_FILENAME" ]] ; then
        cp -p "$TEMP_ARTIFACTS_DOWNLOAD_FILEPATH/$REPORTING_RPM_FILENAME" /tmp/.
    fi

    HPZ_RPM_FILENAME=`echo "$artifactFilesList" | grep -o -e "hpz-0\.[0-9]*-[0-9]*\.el6\.x86_64\.rpm"`
    HPZ_VERSION_ARG=`echo "$HPZ_RPM_FILENAME" | sed -e 's/hpz-//' -e 's/\.rpm//'`
    if [[ -n "$HPZ_RPM_FILENAME" ]] ; then
        cp -p "$TEMP_ARTIFACTS_DOWNLOAD_FILEPATH/$HPZ_RPM_FILENAME" /tmp/.
    fi

    PENTAHO_RPM_FILENAME=`echo "$artifactFilesList" | grep -o -e "pentaho_customization-0\.[0-9]*-[0-9]*\.el6\.x86_64\.rpm" `
    PENTAHO_CUSTOMIZATION_VERSION_ARG=`echo $PENTAHO_RPM_FILENAME | sed -e 's/pentaho_customization-//' | sed -e 's/\.rpm//'`
    if [[ -n "$PENTAHO_CUSTOMIZATION_VERSION_ARG" ]] ; then
        cp -p "$TEMP_ARTIFACTS_DOWNLOAD_FILEPATH/$PENTAHO_RPM_FILENAME" /tmp/.
    fi

    echo "version of  edudl2 [ $EDUDL2_VERSION_ARG ]"
    echo "version of  edsftp [ $EDSFTP_VERSION_ARG ]"
    echo "version of  edextract [ $EDEXTRACT_VERSION_ARG ]"
    echo "version of  edmigrate [ $EDMIGRATE_VERSION_ARG ]"
    echo "version of  starmigrate [ $STARMIGRATE_VERSION_ARG ]"
    echo "version of  reporting [ $REPORTING_VERSION_ARG ]"
    echo "version of  hpz [ $HPZ_VERSION_ARG ]"
    echo "version of  pentaho customization [ $PENTAHO_CUSTOMIZATION_VERSION_ARG ]"

    USE_THIS_PRIVATE_KEY=`determinePEMKeyToUseForAnsibleOrchestrationPlays`

    cd {{orchestrator_devops_targetdir}}/ansible_playbooks/
    applications/parallel-application-playbook.py $REALM_MANAGED_BY_ORCHBOX \
            -e "edudl2_version=$EDUDL2_VERSION_ARG" \
            -e "edsftp_version=$EDSFTP_VERSION_ARG" \
            -e "edmigrate_version=$EDMIGRATE_VERSION_ARG" \
            -e "edextract_version=$EDEXTRACT_VERSION_ARG" \
            -e "starmigrate_version=$STARMIGRATE_VERSION_ARG" \
            -e "reporting_version=$REPORTING_VERSION_ARG" \
            -e "hpz_version=$HPZ_VERSION_ARG" \
            -e "pentaho_customization_version=$PENTAHO_CUSTOMIZATION_VERSION_ARG" \
            -e "reinitialize_tenant_dbs"=$reinitialize_tenant_dbs \
            --private-key="{{ansible_user_home_dir}}/.ssh/$USE_THIS_PRIVATE_KEY" \
            -e vaulted_var_file="{{orchestrator_devops_targetdir}}/ansible_playbooks/vault_vars/$VAULT_FILENAME_FOR_THIS_REALM"
    return $?
}

function runE2Etests() {
    artifactFilesList=`ls -Am "$TEMP_ARTIFACTS_DOWNLOAD_FILEPATH"/`
    EDTESTS_RPM_FILENAME=`echo "$artifactFilesList" | grep -o -e "edtests-0\.[0-9]*-[0-9]*\.el6\.x86_64\.rpm"`
    EDTESTS_VERSION_ARG=`echo "$EDTESTS_RPM_FILENAME" | sed -e 's/edtests-//' -e 's/\.rpm//'`
    if [[ -z "$EDTESTS_RPM_FILENAME" ]] ; then
        echo "WARNING!! - No edtests RPM found locally nor installed!"
        echo "...returning false(1) value here, thus, expecting current script-run to cease any further actions of script from being performed."
        exit 1
    fi
    cp -p "$TEMP_ARTIFACTS_DOWNLOAD_FILEPATH/$EDTESTS_RPM_FILENAME" /tmp/.
    echo "version of  edtests [ $EDTESTS_RPM_FILENAME ]"
    rpm -Uvh /tmp/${EDTESTS_RPM_FILENAME}
    updateContentsOfGenerateINIforTests

    export LANG=en_US.UTF-8
    /usr/bin/Xvfb :99 -screen 0 1280x1024x24 -noreset -nolisten inet6 &
    export DISPLAY=:99.0
    source /opt/virtualenv/edtests/bin/activate
    cd /opt/edware/component_tests/
    /opt/edware/component_tests/generate_ini_for_tests.sh aws {{orchestrated_env_realm}} cloud {{awsacct_env_var}}
    python behave_wrapper.py e2e/features/e2e --tags=-wip
    returnVal=$?
    killall Xvfb
    return ${returnVal}
}

function uploadArtifactsToS3whenE2EtestsOK() {
    deactivate
    # Determine the Devops RPM Version that was downloaded to the local tmp directory dirtree
    artifactFilesList=`ls -Am "$TEMP_ARTIFACTS_DOWNLOAD_FILEPATH/"`
    DOWNLOADED_DEVOPS_RPM_FILENAME=`echo "$artifactFilesList" | grep -o -e "edware-devops-1\.[0-9]*-[0-9]*\.el6\.x86_64\.rpm"`
    SRC_S3_DIRPATH=$(aws s3 ls s3://amplify-artifacts-{{awsacct_env_var}}-{{release}}/ --recursive | grep -o -e "[0-9]*-[0-9]*-[0-9]*_[0-9]*-[0-9]*-[0-9]*\/${DOWNLOADED_DEVOPS_RPM_FILENAME}" | sed -e "s/"${DOWNLOADED_DEVOPS_RPM_FILENAME}"//")
    cd "$TEMP_ARTIFACTS_DOWNLOAD_FILEPATH/"
    aws s3 cp . s3://"amplify-release-artifacts-{{awsacct_env_var}}-{{release}}/$SRC_S3_DIRPATH" --recursive --exclude "*" --include "*.rpm"
    #echo "{{orchestrator_devops_targetdir}}/scripts/push_artifacts_to_s3.sh BUCKET=amplify-release-artifacts-{{awsacct_env_var}}-{{release}} SRC_FOLDER=$TEMP_ARTIFACTS_DOWNLOAD_FILEPATH"
    #cd {{orchestrator_devops_targetdir}}/scripts
    #./push_artifacts_to_s3.sh BUCKET=amplify-release-artifacts-{{awsacct_env_var}}-{{release}} SRC_FOLDER="$TEMP_ARTIFACTS_DOWNLOAD_FILEPATH"

    return $?
}

#----------------------------------------------#
#  Generate random string for setting secure passwords, on demand
#----------------------------------------------#
function genpasswd() {
    openssl rand -base64 16 | tr -cd '[:alnum:]'; echo;
}

#----------------------------------------------#
#  Generate aws-pemkey solely for the creation of instances managed by this Orchestrator HostMachine
#----------------------------------------------#
function generateNewSSHKeypair() {
    PEMKEY_CHECK_AWS_EXISTENCE=`aws ec2 describe-key-pairs --key-name "${INFRA_DISTINCT_ID_PREFIX}" --query 'KeyPairs.KeyName' --output text`

    if [[ -z `ls -Am {{ansible_user_home_dir}}/.ssh/ | grep -o "${INFRA_DISTINCT_ID_PREFIX}.pem"` ]] && [ "$PEMKEY_CHECK_AWS_EXISTENCE" != "$INFRA_DISTINCT_ID_PREFIX" ] ; then
        cd {{ansible_user_home_dir}}/.ssh/
        ssh-keygen -b 2048 -t rsa -N "" -f "${INFRA_DISTINCT_ID_PREFIX}"
        mv "{{ansible_user_home_dir}}/.ssh/${INFRA_DISTINCT_ID_PREFIX}" "{{ansible_user_home_dir}}/.ssh/${INFRA_DISTINCT_ID_PREFIX}.pem"
        aws ec2 import-key-pair --key-name "${INFRA_DISTINCT_ID_PREFIX}" --public-key-material "$(cat {{ansible_user_home_dir}}/.ssh/${INFRA_DISTINCT_ID_PREFIX}.pub)"
        aws s3 cp "${INFRA_DISTINCT_ID_PREFIX}.pem" s3://"${KEYS_BUCKET_NAME}/ansible-user-key/orchestrated-realm-keys/${INFRA_DISTINCT_ID_PREFIX}.pem" --sse
    fi
}

#----------------------------------------------#
#  Establish that the secure aws-pemkey has been created and/or already exists (locally [as well as has been registered with our AWS Acct for use as ec2-keypair] )
#----------------------------------------------#
function establishNewPemKeyForRealm() {
    if ([ "$ENVIRONMENT" == "stg" ] || [ "$ENVIRONMENT" == "prod" ]) ; then
        generateNewSSHKeypair
        PEMKEY_EXISTS_STATUS=`ls -Am {{ansible_user_home_dir}}/.ssh/ | grep -o "${INFRA_DISTINCT_ID_PREFIX}.pem"`
        if [[ -n "$PEMKEY_EXISTS_STATUS" ]] ; then
            if [[ -z `ssh-add -l | grep -o "{{ansible_user_home_dir}}/.ssh/${INFRA_DISTINCT_ID_PREFIX}.pem"` ]] ; then
                ssh-add "{{ansible_user_home_dir}}/.ssh/${INFRA_DISTINCT_ID_PREFIX}.pem"
                ssh-add "{{ansible_user_home_dir}}/.ssh/{{ansible_user_key_file_name}}"
            fi
            echo "Secured PEM Key being used is $PEMKEY_EXISTS_STATUS"
        fi
    fi
}

#----------------------------------------------#
#  Return the PEM filename to use for the current orchestrator realm-management
#----------------------------------------------#
function determinePEMKeyToUseForAnsibleOrchestrationPlays() {
    if ([ "$ENVIRONMENT" == "stg" ] || [ "$ENVIRONMENT" == "prod" ]) && [[ -n `ls -Am {{ansible_user_home_dir}}/.ssh/ | grep -o "${INFRA_DISTINCT_ID_PREFIX}.pem"` ]] ; then
        echo "${INFRA_DISTINCT_ID_PREFIX}.pem"
    elif ([ "$ENVIRONMENT" == "dev" ] || [ "$ENVIRONMENT" == "qa" ]) ; then
        echo "{{ansible_user_key_file_name}}"
    else
        # NOTE: this will fallback to outputing the value of "1" when none of the above scenarios evaluates to TRUE,
        #  so that the calling functions can handle it like an exitcode of a test-failure
        echo "1"
    fi
}

#----------------------------------------------#
#  Update file 'generate_ini_for_tests.sh' to work with passwords generated in non-Dev env
#----------------------------------------------#
function updateContentsOfGenerateINIforTests() {
    USE_THIS_PRIVATE_KEY=`determinePEMKeyToUseForAnsibleOrchestrationPlays`
    if [ "$USE_THIS_PRIVATE_KEY" == "1" ] ; then
        echo "WARNING!! Improper EC2KeyPair value was returned by 'determination' function!"
        echo "....skipping the ansible playbook calling that is expected to take place at this point of orchestration deployment script execution process"
        exit 1
    fi
    cd {{orchestrator_devops_targetdir}}/ansible_playbooks/
    ansible-playbook \
              -i ./applications/inventory/ec2.sh \
              -f 50 \
              -e "realm=$REALM_MANAGED_BY_ORCHBOX" \
              --private-key="{{ansible_user_home_dir}}/.ssh/$USE_THIS_PRIVATE_KEY" \
              ./applications/prep_generate_ini_for_tests.yml -e vaulted_var_file=../vault_vars/{{awsacct_env_var}}_passwords.yml

}

#==============================================#
#  Handling Ansible Vault and VaultPassword files
#==============================================#
function establishAnsibleVaultFileForRealm() {
    ##   AFTER new devops tarball is unpacked , Ensure the dir containing the vault files exists
    if [[ ! -d "{{orchestrator_devops_targetdir}}/ansible_playbooks/vault_vars" ]] ; then
        mkdir "{{orchestrator_devops_targetdir}}/ansible_playbooks/vault_vars"
    else
        ## otherwise, need to do House-cleaning of scm-stored versions of default/dummy vault files
        rm {{orchestrator_devops_targetdir}}/ansible_playbooks/vault_vars/*
    fi

    # Generate the Vault_Pass.txt file and new Vault from the keyfile when ReBuilding Infra
    if [ "$INCLUDE_INFRA_REBUILD" == "Y" ] ; then
        generateNewVaultKeyFile
        generateNewPasswordsAndMakeVaultFile
    ## When Applicable, Put retained Vault file back into place
    elif [ "$INCLUDE_INFRA_REBUILD" == "N" ] && ([ "$ENVIRONMENT" == "stg" ] || [ "$ENVIRONMENT" == "prod" ]) && [[ -s "{{orchestrator_deployment_scriptspath}}/retained_copy_of-{{vault_filename}}" ]] ; then
        cd {{orchestrator_devops_targetdir}}/ansible_playbooks/vault_vars/
        mv {{orchestrator_deployment_scriptspath}}/retained_copy_of-{{vault_filename}} {{vault_filename}}
        ## just in case ... if copy is still in the "retaining dir", delete it from there
        if [[ -n `ls {{orchestrator_deployment_scriptspath}}/ | grep -o "retained_copy_of-{{vault_filename}}"` ]] ; then
            rm {{orchestrator_deployment_scriptspath}}/retained_copy_of-{{vault_filename}}
        fi
    fi
}

#----------------------------------------------#
#  Generate new Ansible Vault Encryption Password (i.e. key) for orchbox's Realm Environment
#----------------------------------------------#
function generateNewVaultKeyFile() {
    if [ "$ENVIRONMENT" == "stg" ] || [ "$ENVIRONMENT" == "prod" ] ; then
        genpasswd > "{{ansible_user_home_dir}}/.new_vault_pass.txt"
        chmod 0644 "{{ansible_user_home_dir}}/.new_vault_pass.txt"
        aws s3 cp "{{ansible_user_home_dir}}/.new_vault_pass.txt" s3://"${KEYS_BUCKET_NAME}/ansible-vault/${INFRA_DISTINCT_ID_PREFIX}_vault_pass.txt" --sse
    else
        aws s3 cp s3://"${KEYS_BUCKET_NAME}/ansible-vault/vault_pass.txt" "{{ansible_user_home_dir}}/.new_vault_pass.txt" --sse
        chmod 0644 "{{ansible_user_home_dir}}/.new_vault_pass.txt"
    fi
    cat "{{ansible_user_home_dir}}/.new_vault_pass.txt" > "{{ansible_user_home_dir}}/.vault_pass.txt"
    rm "{{ansible_user_home_dir}}/.new_vault_pass.txt"
}

#----------------------------------------------#
#  Generate new Ansible Vault File containing the Passwords for orchbox's Realm Environment
#----------------------------------------------#
function generateNewPasswordsAndMakeVaultFile() {
    USE_THIS_PRIVATE_KEY=`determinePEMKeyToUseForAnsibleOrchestrationPlays`
    if [ "$USE_THIS_PRIVATE_KEY" == "1" ] ; then
        echo "WARNING!! Improper EC2KeyPair value was returned by 'determination' function!"
        echo "....skipping the ansible playbook calling that is expected to take place at this point of orchestration deployment script execution process"
        exit 1
    fi

    cd "{{orchestrator_deployment_scriptspath}}/"
    if [ $ENVIRONMENT == "qa" ] || [ $ENVIRONMENT == "dev" ] ; then
        ansible-playbook -i "{{orchestrator_devops_targetdir}}/ansible_playbooks/inventory/ec2.py" -f 50 -e "realm=$THIS_ANSIBLESVR_REALM" \
             --private-key="{{ansible_user_home_dir}}/.ssh/$USE_THIS_PRIVATE_KEY" \
             /opt/parcc/deployment/bin/prepare-raw-vaultfile-for-realm.yml
    else
        aws s3 cp s3://"${KEYS_BUCKET_NAME}/gpg/gpg_passphrase.txt" "{{ansible_user_home_dir}}/gpg_passphrase.txt" --sse
        gpg_passphrase=`head -n 1 {{ansible_user_home_dir}}/gpg_passphrase.txt`
        rm {{ansible_user_home_dir}}/gpg_passphrase.txt

        new_edware_db_password=`genpasswd`
        new_udl2_db_password=`genpasswd`
        new_migration_service_password=`genpasswd`
        new_pgp_healthcheck_db_pass=`genpasswd`
        new_pgp_healthcheck_db_md5pass=`echo -n "$new_pgp_healthcheck_db_pass" | md5sum`
        new_pcp_password=$new_edware_db_password
        new_pcp_md5pass=`echo -n "$new_pcp_password" | md5sum`
        new_pgb_postgres_md5pass=`echo -n "${new_pcp_password}postgres" | md5sum`
        new_pgb_edware_md5pass=`echo -n "${new_edware_db_password}edware" | md5sum`
        new_hpz_db_password=`genpasswd`
        new_graphite_db_password=`genpasswd`
        new_pentaho_saml_store_password=`genpasswd`
        new_pentaho_saml_key_password=`genpasswd`
        new_pentaho_server_password=`genpasswd`
        new_rds_master_password=`genpasswd`

        ansible-playbook -i "{{orchestrator_devops_targetdir}}/ansible_playbooks/inventory/ec2.py" -f 50 -e "realm=$THIS_ANSIBLESVR_REALM" \
             -e "new_edware_db_password=$new_edware_db_password" \
             -e "new_udl2_db_password=$new_udl2_db_password" \
             -e "new_migration_service_password=$new_migration_service_password" \
             -e "new_pgp_healthcheck_db_pass=$new_pgp_healthcheck_db_pass" \
             -e "new_pgp_healthcheck_db_md5pass=md5$new_pgp_healthcheck_db_md5pass" \
             -e "new_pcp_password=$new_pcp_password" \
             -e "new_pcp_md5pass=$new_pcp_md5pass" \
             -e "new_pgb_postgres_md5pass=md5$new_pgb_postgres_md5pass" \
             -e "new_pgb_edware_md5pass=md5$new_pgb_edware_md5pass" \
             -e "new_gpg_passphrase=$gpg_passphrase" \
             -e "new_hpz_db_password=$new_hpz_db_password" \
             -e "new_graphite_db_password=$new_graphite_db_password" \
             -e "new_pentaho_saml_store_password=$new_pentaho_saml_store_password" \
             -e "new_pentaho_saml_key_password=$new_pentaho_saml_key_password" \
             -e "new_pentaho_server_password=$new_pentaho_server_password" \
             -e "new_rds_master_password=$new_rds_master_password" \
             --private-key="{{ansible_user_home_dir}}/.ssh/$USE_THIS_PRIVATE_KEY" \
             /opt/parcc/deployment/bin/prepare-raw-vaultfile-for-realm.yml

    fi

    cd "{{orchestrator_devops_targetdir}}/ansible_playbooks/vault_vars/";
    ansible-vault encrypt --vault-password-file="{{ansible_user_home_dir}}/.vault_pass.txt" ./"{{vault_filename}}"

}

if [ "$ENVIRONMENT" != "qa" ]; then
  if ([ $# -eq 0 ] && [[ ! -e "{{orchestrator_deployment_scriptspath}}/{{release}}_{{awsacct_env_var}}_release_properties.sh" ]]) ; then
    echo "Missing artifacts folder name. Usage sh orchestration_deployment_script.sh <Artifcat_Folder_Name>"
    exit
  else
      ARTIFACT_FOLDER_NAME=$ARTIFACT_FOLDER_NAME_TO_RELEASE
      YUM_VERSION=$SPECIFIED_YUM_VERSION_TO_RELEASE
  fi
fi

#==================================#
#  NOTE: This Conditional Prompt is currently for STG Only, and is intended to be a Temporary snippet
#    .... until we solidify some more things within the Release-To-Prod mechanisms (in near future)
#----------------------------------------------#
if [ "$ENVIRONMENT" != "qa" ] && [ ! -d "/var/lib/jenkins" ] ; then
     echo "======================================================="
     echo "=  IMPORTANT!!! Response Required!!!     "
     echo "=       Do you want to include a FULL  Infrastructure REBUILD with this deployment run?    "
     echo "======================================================="
     read -p "Please Enter Y or N : " STG_DEPLOYMENT_RESPONSE
     case $STG_DEPLOYMENT_RESPONSE in
     Y ) PROMPT_INPUT_VAL=Y;;
     y ) PROMPT_INPUT_VAL=Y;;
     N ) PROMPT_INPUT_VAL=N;;
     n ) PROMPT_INPUT_VAL=N;;
     * ) PROMPT_INPUT_VAL=N; echo " "; echo "WARNING!! the 3rd option in case-block was hit!! so debug that shiznit, homeboy!";;
     esac
fi

DO_TEARDOWN=N
if [ ! -d "/var/lib/jenkins" ] ; then
    for arg in "$@"
    do
        pair=(${arg//=/ })

        if [ "${pair[0]}" == "TEARDOWN" ] ; then
            DO_TEARDOWN="${pair[1]}"
        fi

        unset pair
    done
fi

if [ "$DO_TEARDOWN" == "Y" ] ; then
  reinitialize_tenant_dbs=true
else
  reinitialize_tenant_dbs=false
fi

case $ENVIRONMENT in
qa ) INCLUDE_INFRA_REBUILD=N;;
stg ) INCLUDE_INFRA_REBUILD="$PROMPT_INPUT_VAL";;
prod ) INCLUDE_INFRA_REBUILD="$PROMPT_INPUT_VAL";;
dev ) if [ ! -d "/var/lib/jenkins" ] ; then INCLUDE_INFRA_REBUILD="$PROMPT_INPUT_VAL"; else INCLUDE_INFRA_REBUILD=Y; fi;;
* ) if [[ -n "$PROMPT_INPUT_VAL" ]] ; then INCLUDE_INFRA_REBUILD="$PROMPT_INPUT_VAL"; else INCLUDE_INFRA_REBUILD=N; fi;;
esac

#----------------------------------------------#
#  MAIN SCRIPT EXECUTION
#==================================#
runParccDeploymentScript >> {{orchestrator_deployment_logpath}}/orchestrator-opslog-"$THISRUN_DATESUFFIX".log 2>&2
