---
- hosts: 127.0.0.1
  connection: local
  gather_facts: false
  tasks:
    - name: make new raw vault vars file
      local_action: template src="{{orchestrator_deployment_scriptspath}}/raw_vaultvars_template.yml.j2" dest="{{orchestrator_devops_targetdir}}/ansible_playbooks/vault_vars/{{vault_filename}}" owner=root group=root mode=644
     