#! /bin/bash


# Determine the Devops RPM Version that was downloaded to the local tmp directory dirtree
artifactsFolder=$(ls /tmp | grep -o -e "artifacts.*")
artifactFilesList=`ls -Am "/tmp/$artifactsFolder/"`
DOWNLOADED_DEVOPS_RPM_FILENAME=`echo "$artifactFilesList" | grep -o -e "edware-devops-1\.[0-9]*-[0-9]*\.el6\.x86_64\.rpm"`
SRC_S3_DIRPATH=$(aws s3 ls s3://amplify-artifacts-{{awsacct_env_var}}-{{release}}/ --recursive | grep -o -e "[0-9]*-[0-9]*-[0-9]*_[0-9]*-[0-9]*-[0-9]*\/${DOWNLOADED_DEVOPS_RPM_FILENAME}" | sed -e "s/"${DOWNLOADED_DEVOPS_RPM_FILENAME}"//")
cd "/tmp/$artifactsFolder/"
aws s3 cp . s3://"amplify-release-artifacts-{{awsacct_env_var}}-{{release}}/$SRC_S3_DIRPATH" --recursive --exclude "*" --include "*.rpm"
