#!/bin/bash

RELEASE={{release}}
ORCHESTRATOR_REALM_BASENAME={{orchestrator_realm_basename}}
ARTIFACT_FOLDER_NAME_TO_RELEASE={{artifact_folder_name_to_release}}
SPECIFIED_YUM_VERSION_TO_RELEASE={{specified_yum_version_to_release|default(yum_version)}}


