# Firewall configuration written by system-config-firewall
# Manual customization of this file is not recommended.
*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]

-A INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT
-A INPUT -p icmp -j ACCEPT
-A INPUT -i lo -j ACCEPT
-A INPUT -p tcp -m state --state NEW -m tcp --dport 22 -j ACCEPT

{% for app in firewall_allowed_applications %}
{% if app.allow_all_hosts is defined and app.allow_all_hosts %}
-A INPUT -p {{app.proto}} -s 0/0 --sport 1024:65535 -d 0/0 --dport {{app.port}} -m state --state NEW,ESTABLISHED -j ACCEPT
{% else %}
{% for ip in firewall_allowed_ips %}
-A INPUT -p {{app.proto}} -s {{ip}} --sport 1024:65535 -d 0/0 --dport {{app.port}} -m state --state NEW,ESTABLISHED -j ACCEPT
{% endfor %}
{% endif %}
{% endfor %}

{% for rule in firewall_custom_iptables_rules|default([""]) %}
{{rule}}
{% endfor %}

-A INPUT -j REJECT --reject-with icmp-host-prohibited
-P INPUT DROP

-A FORWARD -j REJECT --reject-with icmp-host-prohibited

COMMIT
# End
