WSGISocketPrefix run/wsgi
WSGIPythonPath /opt/virtualenv/hpz/lib/python3.3/site-packages
WSGIDaemonProcess swi user=apache group=apache processes={{ wsgi_process_count }} threads={{ wsgi_thread_count }} python-path=/opt/virtualenv/hpz/lib/python3.3/site-packages
WSGIPythonOptimize 1
XSendFile on
<Directory "/opt/edware">
    XSendFile on
    XSendFilePath /opt/edware
</Directory>

<VirtualHost *:80>
    # redirect http (from load balancer) to https
    RewriteEngine On
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
</VirtualHost>

# Use a different virtual host to differentiate between http and https traffic.
Listen 443
<VirtualHost *:443>
  WSGIApplicationGroup %{GLOBAL}
  WSGIPassAuthorization On
  WSGIScriptAlias / /opt/edware/hpz/swi.wsgi
  WSGIImportScript /opt/edware/hpz/swi.wsgi process-group=swi application-group=%{GLOBAL}

  RewriteEngine On
  # redirect http (from load balancer) to https
  RewriteCond %{HTTP:X-Forwarded-Proto} !https
  RewriteCond %{HTTP_USER_AGENT} !^ELB-HealthChecker
  RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

  <LocationMatch ^/download/(.*)>
    Order Deny,Allow
    Allow from all
  </LocationMatch>
  <Directory /opt/virtualenv/hpz>
    WSGIProcessGroup swi
    Order allow,deny
    Allow from all
  </Directory>
</VirtualHost>
