WSGISocketPrefix run/wsgi
WSGIPythonPath /opt/virtualenv/hpz/lib/python3.3/site-packages
WSGIDaemonProcess frs user=apache group=apache processes={{ wsgi_process_count }} threads={{ wsgi_thread_count }} python-path=/opt/virtualenv/hpz/lib/python3.3/site-packages
WSGIPythonOptimize 1

NameVirtualHost *:{{ hpz_frs_port }}
<VirtualHost *:{{ hpz_frs_port }}>
    WSGIApplicationGroup %{GLOBAL}
    WSGIPassAuthorization On
    WSGIScriptAlias / /opt/edware/hpz/frs.wsgi
    WSGIImportScript /opt/edware/hpz/frs.wsgi process-group=frs application-group=%{GLOBAL}

    <LocationMatch ^/registration>
      Order Deny,Allow
      Allow from all
    </LocationMatch>
    <LocationMatch ^/files/(.*)>
      Order Deny,Allow
      Allow from all
    </LocationMatch>

    <Directory /opt/virtualenv/hpz>
      WSGIProcessGroup frs
      Order allow,deny
      Allow from all
    </Directory>
    LogLevel info

</VirtualHost>
