[amplify-parcc-s3yum-repo]
name=PARCC Infrastructure S3 yum repository - {{ env_var }}
baseurl=https://{{s3yum_repo_name}}.s3.amazonaws.com/{{yum_version}}
;failovermethod=priority
enabled=1
s3_enabled=1
gpgcheck=0

