<!doctype html>
<html>
    <head>
        <title>DevOps Dashboard</title>
        <link rel="stylesheet" type="text/css" href="jquery.gridster.min.css">
        <script src="jquery-2.1.4.min.js" type="text/javascript"></script>
        <script src="jquery.gridster.min.js" type="text/javascript" charset="utf-8"></script>
        <style type="text/css">
            html, body {
                max-width: 100%;
                max-height: 100%;
                overflow: hidden;
                margin: 0;
                padding: 0;
                background-color: #66A370;
            }
            #outer-grid, #inner-grid {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            .gridster {
                margin: 0;
                padding: 0;
            }
            .gridster li {
                list-style-type: none;
            }
            #outer-grid li iframe {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            #inner-grid {
                border-top: medium dashed black;
            }
            #inner-grid li iframe {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
        </style>
    </head>

    <body>
        <div id="outer-grid" class="gridster">
            <ul>
                <li id="grafana" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
                    <iframe src="{{grafana_root_url_elb if elb_present else grafana_root_url}}" frameBorder="0"></iframe>
                </li>
                <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
                    <div id="inner-grid" class="gridster">
                        <ul>
                            <li id="uchiwa" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
                                <iframe src="{{uchiwa_root_url_elb if elb_present else uchiwa_root_url}}" frameBorder="0"></iframe>
                            </li>
                            <li id="kibana" data-row="1" data-col="2" data-sizex="1" data-sizey="1">
                                <iframe src="{{kibana_root_url_elb if elb_present else kibana_root_url}}" frameBorder="0"></iframe>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

        <script type="text/javascript">
            var outer_gridster;
            var inner_gridster;
            var resize_id;

            $(document).ready(function() {
                outer_width = $(window).width();
                inner_width = $(window).width() / 2;
                height = $(window).height() / 2;

                inner_gridster = $("#inner-grid ul").gridster({
                    namespace: '#outer-grid #inner-grid',
                    widget_base_dimensions: [inner_width, height],
                    widget_margins: [0, 0],
                    min_rows: 1,
                    max_rows: 1,
                    min_cols: 2,
                    max_cols: 2,
                    autogrow_cols: true,
                    draggable: {
                        enabled: false
                    },
                    resize: {
                        axes: ['x'],
                        enabled: true,
                    }
                }).data('gridster');

                outer_gridster = $("#outer-grid ul").gridster({
                    namespace: '#outer-grid',
                    widget_base_dimensions: [outer_width, height],
                    widget_margins: [0, 0],
                    min_rows: 2,
                    max_rows: 2,
                    min_cols: 1,
                    max_cols: 1,
                    autogrow_cols: true,
                    draggable: {
                        enabled: false
                    },
                    resize: {
                        axes: ['y'],
                        enabled: true,
                    }
                }).data('gridster');

                $(window).resize(function() {
                    clearTimeout(resize_id);
                    resize_id = setTimeout(function() {
                        outer_width = $(window).width();
                        outer_height = $(window).height();
                        inner_width = $(window).width() / 2;
                        widget_height = outer_height / 2;
                        $('#inner-grid').width(inner_width);
                        $('#inner-grid').height(widget_height);
                        inner_gridster.resize_widget_dimensions({
                            widget_base_dimensions: [inner_width, widget_height],
                        });
                        $('#outer-grid').width(outer_width);
                        $('#outer-grid').height(outer_height);
                        outer_gridster.resize_widget_dimensions({
                            widget_base_dimensions: [outer_width, widget_height],
                        });
                    });
                });
            });
        </script>
    </body>
</html>
