LoadModule proxy_module modules/mod_proxy.so
LoadModule proxy_http_module modules/mod_proxy_http.so

<VirtualHost *:80>
    ProxyRequests Off
    ProxyPreserveHost On
    ProxyHTMLEnable On

    ProxyPass /uchiwa/ http://{{uchiwa_host}}:{{uchiwa_port}}/ keepalive=On
    ProxyPassReverse /uchiwa/ http://{{uchiwa_host}}:{{uchiwa_port}}/
    ProxyHTMLURLMap http://{{uchiwa_host}}:{{uchiwa_port}}/ /uchiwa/

    ProxyPass /grafana http://{{grafana_host}}:{{grafana_port}} keepalive=On
    ProxyPassReverse /grafana http://{{grafana_host}}:{{grafana_port}}

    Header set Cache-Control "no-cache, no-store, must-revalidate, max-age=0, proxy-revalidate, no-transform"
    Header set Pragma "no-cache"
</VirtualHost>
