$ModLoad imfile

$WorkDirectory /var/lib/rsyslog
$ActionQueueFileName loghost-queue
$ActionQueueMaxDiskSpace 1g
$ActionQueueSaveOnShutdown on
$ActionQueueType LinkedList
$ActionResumeRetryCount -1

{% for log in log_files %}
$InputFileName {{ log_directory }}/{{ log.file }}
$InputFileTag {{ log.name }}:
$InputFileStateFile stat-{{ log.name }}
$InputFileFacility local6
$InputRunFileMonitor

{% endfor %}
