#!/bin/bash

LOCAL_REPO_CACHEDIR="{{ yumrepo_builder_cache_destdir }}"
LOCAL_REPO_SRCDIR="{{ yumrepo_builder_downloads_destdir }}"

S3_BUCKETNAME_FOR_SYNCS="{{ s3yum_bucket_basename + '-' + awsacct_env_var}}"
S3_BUCKETNAME_FOR_CURRENT_REL="$S3_BUCKETNAME_FOR_SYNCS"
DATE_SUFFIX=`date +%Y%m%d`

# determine the next version number to assign for this build run based on number of builds in the S3 bucket subdirs
SYNC_BUCKET_FOLDER_LIST=`aws s3 ls s3://$S3_BUCKETNAME_FOR_SYNCS`
TOTNUM_S3DIRS=`echo "$SYNC_BUCKET_FOLDER_LIST" | sed -e 's/PRE\ //' | sed -e 's/\ *//g' | wc -l`
NEXT_VERSION=$TOTNUM_S3DIRS

if [ $NEXT_VERSION -lt 10 ] ; then
    NEWBUILD_FOLDER=v1.0"$NEXT_VERSION"
else
    NEWBUILD_FOLDER=v1."$NEXT_VERSION"
fi
S3_VERSION_FOLDER_FOR_SYNCS=$S3_BUCKETNAME_FOR_SYNCS/$NEWBUILD_FOLDER

basearch=`uname -i`
for i in `ls -1 /etc/*-release` ;
do
    if ([[ ! -L $i ]] && [ "$i" != "/etc/lsb-release" ]) ; then
        OS_DISTRO_REFNAME=`cat $i | sed -e "s/^\([a-zA-Z]*\)\ release\.*\$/\1/"`
        releasever=`rpm -q --qf "%{version}\n" $(basename "$i")`
    fi
done

if [[ -d "$LOCAL_REPO_SRCDIR" ]] ; then
    mv "$LOCAL_REPO_SRCDIR" "$LOCAL_REPO_SRCDIR-$DATE_SUFFIX"
fi
mkdir "$LOCAL_REPO_SRCDIR"
mkdir "$LOCAL_REPO_SRCDIR/$basearch"
mkdir "$LOCAL_REPO_SRCDIR/$basearch/$releasever"

for g in `ls -1b "$LOCAL_REPO_CACHEDIR/$basearch"` ;
do
    if [[ -d "$LOCAL_REPO_CACHEDIR/$basearch/$g/packages" ]] ; then
        echo "$LOCAL_REPO_CACHEDIR/$basearch/$g/packages/ > /$LOCAL_REPO_SRCDIR/$basearch/$releasever/"
        cp $LOCAL_REPO_CACHEDIR/$basearch/$g/packages/*.rpm $LOCAL_REPO_SRCDIR/$basearch/$releasever/ 2> /dev/null
    fi
done

cd "$LOCAL_REPO_SRCDIR/$basearch/$releasever"
sudo createrepo -v .
sudo chown -R root:root "$LOCAL_REPO_SRCDIR/$basearch/$releasever"
sudo chmod -R 775 "$LOCAL_REPO_SRCDIR/$basearch/$releasever"

CHECK_BUCKET_EXISTS=`aws s3 ls | grep -o "${S3_BUCKETNAME_FOR_CURRENT_REL}"`
if [[ -z "$CHECK_BUCKET_EXISTS" ]] ; then
    aws s3 mb s3://$S3_BUCKETNAME_FOR_SYNCS
fi

if [[ ! -d "$LOCAL_REPO_SRCDIR/nonstandard_rpmonly_component_archives" ]] ; then
    mkdir $LOCAL_REPO_SRCDIR/nonstandard_rpmonly_component_archives
    chmod -R 0775 $LOCAL_REPO_SRCDIR/nonstandard_rpmonly_component_archives
fi

cd "$LOCAL_REPO_SRCDIR/$basesearch/$releasever"
aws s3 cp . s3://$S3_VERSION_FOLDER_FOR_SYNCS --recursive

echo "finished building the parcc-custom yumRepo and synced to s3...."
