input {
  udp {
    port => 10515
    codec => json_lines
  }
  syslog {
    port => 10514
  }
}

filter {
  if [program] == "httpd" {
    if [facility_label] == "local6" {
      # Apache access log.
      grok {
        match => { "message" => "%{COMBINEDAPACHELOG}" }
      }

      date {
        match => [ "timestamp", "dd/MMM/yyyy:HH:mm:ss Z" ]
      }
    } else if [facility_label] == "local7" {
      # Apache error log.
      grok {
        patterns_dir => [ "/etc/logstash/patterns.d" ]
        match => { "message" => "%{HTTPD_ERROR_LOG}" }
      }

      date {
        match => [ "timestamp", "EEE MMM dd HH:mm:ss yyyy" ]
      }
    }
  }

  if [program] == "postgres" {
    if [facility_label] == "local0" {
      grok {
        match => [ "message", "%{SYSLOGBASE2}"]
      }
    }
  }

  if [program] == "repmgr" {
    grok {
      patterns_dir => [ "/etc/logstash/patterns.d" ]
      match => [ "message", "%{REPMGR}"]
      overwrite => [ "message" ]
    }
  }

{% for prog in hal_programs %}
  if [program] == "{{ prog }}" {
  {% for list_item in hal_programs[prog] %}
    if [message] =~ /{{ list_item.regex }}/ {
      mutate {
        add_tag => [ "HAL" ]
        add_field => { "HAL_CODE" => "{{ list_item.code }}" }
      }
    }
  {% endfor %}
}
{% endfor %}

}

output {
  if "HAL" in [tags] {
    exec {
      command => '/usr/local/bin/halinator.py -c %{HAL_CODE} -n %{host} -t "%{@timestamp}" -m "%{message}"| logger -t HALinator'
    }
  }
  elasticsearch {
    protocol => "http"
    index => "log-aggregate-%{+YYYY.MM.dd}"
  }
}
