$ModLoad imfile

$WorkDirectory /var/lib/rsyslog 
$ActionQueueFileName loghost-queue 
$ActionQueueMaxDiskSpace 1g  
$ActionQueueSaveOnShutdown on 
$ActionQueueType LinkedList  
$ActionResumeRetryCount -1   

$InputFileName /var/log/rabbitmq/rabbit@{{ ansible_hostname }}.log
$InputFileTag rabbitmq-server: 
$InputFileStateFile stat-rabbitmq
$InputFileFacility local6
$InputRunFileMonitor

$InputFileName /var/log/rabbitmq/rabbit@{{ ansible_hostname }}-sasl.log
$InputFileTag rabbitmq-server-sasl:
$InputFileStateFile stat-rabbitmq-sasl
$InputFileFacility local6
$InputRunFileMonitor
