{
    "changed": true,
    "usingConnectionPool": true,
    "connectSql": "",
    "databaseName": "{{ pentaho_ds_db_name }}",
    "databasePort": "{{ pentaho_ds_db_port }}",
    "hostname": "{{ item.db }}",
    "name": "{{ item.label }}_analytics",
    "password": "{{ vaulted_master_db_password }}",
    "username": "{{ pentaho_ds_db_user }}",
    "attributes": {},
    "connectionPoolingProperties": {},
    "extraOptions": {},
    "accessType": "NATIVE",
    "databaseType": {
        "defaultDatabasePort": 5432,
        "extraOptionsHelpUrl": "http://jdbc.postgresql.org/documentation/83/connect.html#connection-parameters",
        "name": "PostgreSQL",
        "shortName": "POSTGRESQL",
        "supportedAccessTypes": [
            "NATIVE",
            "ODBC",
            "JNDI"
        ]
    }
}
