---

cpu_usage:
  dashboard:
    id: Null
    title: "CPU Usage"
    originalTitle: "CPU Usage"
    tags: []
    style: "dark"
    timezone: "browser"
    editable: True
    hideControls: False
    sharedCrosshair: False
    rows: 
      - 
        height: "250px"
        panels: 
          - 
            title: "CPU Usage"
            error: False
            span: 12
            editable: True
            type: "graph"
            isNew: True
            id: 1
            datasource: Null
            renderer: "flot"
            x-axis: True
            y-axis: True
            y_formats: 
              - "short"
              - "short"
            grid: 
              leftLogBase: 1
              leftMax: 100
              rightMax: 100
              leftMin: 0
              rightMin: 0
              rightLogBase: 1
              threshold1: Null
              threshold2: Null
              threshold1Color: "rgba(216, 200, 27, 0.27)"
              threshold2Color: "rgba(234, 112, 112, 0.22)"
            lines: True
            fill: 1
            linewidth: 2
            points: False
            pointradius: 5
            bars: False
            stack: False
            percentage: False
            legend: 
              show: True
              values: False
              min: False
              max: False
              current: False
              total: False
              avg: False
            NullPointMode: "connected"
            steppedLine: False
            tooltip: 
              value_type: "cumulative"
              shared: True
            timeFrom: Null
            timeShift: Null
            targets:
{% for item in lz_users_tenants %}
              -
                refId: {{ item.tenant }}
                target: "{{ realm }}-dw-master-{{ item.tenant }}.cpu.cpu_usage_total"
{% endfor %}
{% for item in extract_facts.instances %}
              -
                refId: "{{ item.tags.type }}"
                target: "{{ realm }}-{{ item.tags.type }}.cpu.cpu_usage_total"
{% endfor %}
            aliasColors: {}
            seriesOverrides: []
            links: []
        title: "Row"
        collapse: False
        editable: True
    time: 
      from: "now-6h"
      to: "now"
    timepicker: 
      time_options: 
        - "5m"
        - "15m"
        - "1h"
        - "6h"
        - "12h"
        - "24h"
        - "2d"
        - "7d"
        - "30d"
      refresh_intervals: 
        - "5s"
        - "10s"
        - "30s"
        - "1m"
        - "5m"
        - "15m"
        - "30m"
        - "1h"
        - "2h"
        - "1d"
    templating: 
      list: []
    annotations: 
      list: []
    schemaVersion: 8
    version: 0
    links: []
  overwrite: True
