---

dw_database_size:
  dashboard: 
    id: Null
    title: Data warehouse database size
    originalTitle: Data warehouse database size
    tags: []
    style: dark
    timezone: browser
    editable: True
    hideControls: False
    sharedCrosshair: False
    rows: 
      - 
        collapse: False
        editable: True
        height: 250px
        panels: 
          - 
            aliasColors: {}
            bars: False
            datasource: Null
            editable: True
            error: False
            fill: 1
            grid: 
              leftLogBase: 1
              leftMax: Null
              leftMin: Null
              rightLogBase: 1
              rightMax: Null
              rightMin: Null
              threshold1: Null
              threshold1Color: "rgba(216, 200, 27, 0.27)"
              threshold2: Null
              threshold2Color: "rgba(234, 112, 112, 0.22)"
            id: 1
            isNew: True
            legend: 
              avg: False
              current: False
              max: False
              min: False
              show: True
              total: False
              values: False
            lines: True
            linewidth: 2
            links: []
            NullPointMode: connected
            percentage: False
            pointradius: 5
            points: False
            renderer: flot
            seriesOverrides: []
            span: 12
            stack: False
            steppedLine: False
            targets:
{% for item in lz_users_tenants %}
              -
                refId: {{ item.tenant }}
                target: "{{ realm }}-dw-master-{{ item.tenant }}.postgresql.size.database.edware"
{% endfor %}
            timeFrom: Null
            timeShift: Null
            title: Data warehouse database size
            tooltip: 
              shared: True
              value_type: cumulative
            type: graph
            x-axis: True
            y-axis: True
            y_formats: 
              - bytes
              - bytes
        title: Row
    schemaVersion: 6
    version: 0
  overwrite: True
