---

memory_usage:
  dashboard:
    id: Null
    title: "Memory Usage"
    originalTitle: "Memory Usage"
    tags: []
    style: "dark"
    timezone: "browser"
    editable: True
    hideControls: False
    sharedCrosshair: False
    rows: 
      - 
        collapse: False
        editable: True
        height: "250px"
        panels: 
          - 
            aliasColors: {}
            bars: False
            datasource: Null
            editable: True
            error: False
            fill: 1
            grid: 
              leftLogBase: 1
              leftMax: Null
              leftMin: Null
              rightLogBase: 1
              rightMax: Null
              rightMin: Null
              threshold1: Null
              threshold1Color: "rgba(216, 200, 27, 0.27)"
              threshold2: Null
              threshold2Color: "rgba(234, 112, 112, 0.22)"
            id: 1
            isNew: True
            legend: 
              avg: False
              current: False
              max: False
              min: False
              show: True
              total: False
              values: False
            lines: True
            linewidth: 2
            links: []
            NullPointMode: "connected"
            percentage: False
            pointradius: 5
            points: False
            renderer: "flot"
            seriesOverrides: []
            span: 12
            stack: False
            steppedLine: False
            targets: 
{% for item in lz_users_tenants %}
              -
                refId: {{ item.tenant }}
                target: "{{ realm }}-dw-master-{{ item.tenant }}.memory.used"
{% endfor %}
{% for item in extract_facts.instances %}
              -
                refId: "{{ item.tags.type }}"
                target: "{{ realm }}-{{ item.tags.type }}.memory.used"
{% endfor %}
            timeFrom: Null
            timeShift: Null
            title: "Memory Usage"
            tooltip: 
              shared: True
              value_type: "cumulative"
            type: "graph"
            x-axis: True
            y-axis: True
            y_formats: 
              - "bytes"
              - "bytes"
        title: "Row"
    time: 
      from: "now-6h"
      to: "now"
    timepicker: 
      refresh_intervals: 
        - "5s"
        - "10s"
        - "30s"
        - "1m"
        - "5m"
        - "15m"
        - "30m"
        - "1h"
        - "2h"
        - "1d"
      time_options: 
        - "5m"
        - "15m"
        - "1h"
        - "6h"
        - "12h"
        - "24h"
        - "2d"
        - "7d"
        - "30d"
    templating: 
      list: []
    annotations: 
      list: []
    schemaVersion: 8
    version: 1
    links: []
  overwrite: True
