{
  "checks":
    {{ sensu_checks | to_nice_json | regex_replace('}[^,]', '') }}
  {% for list_item in tenant_state_codes %}
  ,
    "celeryd.edmigrate-player.alive-{{list_item.tenant}}":
    {
      "type": "check",
      "handlers": ["pagerduty"],
      "interval": 30,
      "command": "/etc/sensu/plugins/celeryd-alive.rb -x /opt/virtualenv/edmigrate/bin -h {{migrate_queue_ip}} -u {{migrate_celery_user_prefix ~ '_' ~ list_item.tenant}} -p {{migrate_celery_password}} -v {{migrate_queue_vhost_prefix ~ '_' ~ list_item.tenant}}",
      "subscribers": ["edmigrate-player-{{list_item.tenant}}"]
    }
  ,
    "celeryd.starmigrate-player.alive-{{list_item.tenant}}":
    {
      "type": "check",
      "handlers": ["pagerduty"],
      "interval": 30,
      "command": "/etc/sensu/plugins/celeryd-alive.rb -x /opt/virtualenv/starmigrate/bin -h {{migrate_queue_ip}} -u {{starmigrate_celery_user_prefix ~ '_' ~ list_item.tenant}} -p {{migrate_celery_password}} -v {{starmigrate_queue_vhost_prefix ~ '_' ~ list_item.tenant}}",
      "subscribers": ["starmigrate-player-{{list_item.tenant}}"]
    }
  {% endfor %}
  ,
    "celeryd.extract-worker.alive":
    {
      "type": "check",
      "handlers": ["pagerduty"],
      "interval": 30,
      "command": "/etc/sensu/plugins/celeryd-alive.rb -x /opt/virtualenv/edextract/bin -h {{extract_queue_ip}} -u {{extract_celery_user}} -p {{extract_celery_password}} -v {{extract_queue_vhost}}",
      "subscribers": ["extract-worker"]
    }
  ,
    "celeryd.pdf-worker.alive":
    {
      "type": "check",
      "handlers": ["pagerduty"],
      "interval": 30,
      "command": "/etc/sensu/plugins/celeryd-alive.rb -x /opt/virtualenv/reporting/bin -h {{pdf_services_queue_ip}} -u {{pdf_services_celery_user}} -p {{pdf_services_celery_password}} -v {{pdf_services_queue_vhost}}",
      "subscribers": ["pdf-worker"]
    }
  ,
    "celeryd.udl-server.alive":
    {
      "type": "check",
      "handlers": ["pagerduty"],
      "interval": 30,
      "command": "/etc/sensu/plugins/celeryd-alive.rb -x /opt/virtualenv/udl2/bin -h {{udl_queue_ip}} -u guest",
      "subscribers": ["udl-server"]
    }
}
