{
  "rabbitmq": [
  {
    "port": {{ sensu_rabbit_port }},
    "host": "{{ sensu_rabbit1_ip }}",
    "user": "{{ sensu_rabbit_user }}",
    "password": "{{ sensu_rabbit_password }}",
    "heartbeat": 30,
    "vhost": "sensu"
  },
  {
    "port": {{ sensu_rabbit_port }},
    "host": "{{ sensu_rabbit2_ip }}",
    "user": "{{ sensu_rabbit_user }}",
    "password": "{{ sensu_rabbit_password }}",
    "heartbeat": 30,
    "vhost": "sensu"
  }
  ]
{% if sensu_install_server %}
  ,
  "redis": {
    "host": "{{ redis_host }}",
    "port": "{{ redis_port }}"
  },
  "api": {
    "host": "{{ sensu_server_api_host }}",
    "port": 4567
  },
  "logstash": {
    "server": "{{ loghost_ip }}",
    "port": 10515,
    "type": "sensu",
    "output": "udp"
  }
{% endif %}
}
