{
   "client": {
      "name": "{{ sensu_client_hostname }}",
         "address": "{{ sensu_client_address }}",
         "subscriptions": [ "{{ "\",\"".join(default_monitoring_topics + monitoring_topics) }}" ]
   }
}
