sensu_checks:

  # ================================================ #
  #                common - metrics
  # ================================================ #
  cpu-metrics:
    type: metric
    handlers:
      - store_in_carbon
    command: "/etc/sensu/plugins/cpu-metrics.rb --scheme :::name:::"
    interval: 60
    subscribers: # == monitoring_topics
      - common

  disk-capacity-metrics:
    type: metric
    handlers:
      - store_in_carbon
    command: "/etc/sensu/plugins/disk-capacity-metrics.rb --scheme :::name:::"
    interval: 60
    subscribers: # == monitoring_topics
      - common

  load-metrics:
    type: metric
    handlers:
      - store_in_carbon
    command: "/etc/sensu/plugins/load-metrics.rb --scheme :::name:::"
    interval: 60
    subscribers: # == monitoring_topics
      - common

  memory-metrics:
    type: metric
    handlers:
      - store_in_carbon
    command: "/etc/sensu/plugins/memory-metrics.rb --scheme :::name:::"
    interval: 60
    subscribers: # == monitoring_topics
      - common


  # ================================================ #
  #               e2e heartbeats
  # ================================================ #

  check.e2e.reportingweb.heartbeat:
    type: check
    handlers:
      - report_hb_http_logstash
      - pagerduty
    interval: 30
    command: "/etc/sensu/plugins/check-http.rb --proxy-url http://{{proxy_host}}:{{proxy_port}} -u https://{{realm}}-reporting-elb{{hosted_zone}}/services/heartbeat --response-code 200 -k"
    subscribers:
      - e2e-heartbeats

  check.e2e.pentaho.heartbeat:
    type: check
    handlers:
      - pentaho_hb_http_logstash
      - pagerduty
    interval: 30
    command: "/etc/sensu/plugins/check-http.rb --proxy-url http://{{proxy_host}}:{{proxy_port}} -u https://{{realm}}-pentaho-elb{{hosted_zone}}/pentaho/ping/alive.gif --response-code 200 -k"
    subscribers:
      - e2e-heartbeats

  check.e2e.hpzweb.heartbeat:
    type: check
    handlers:
      - hpz_hb_http_logstash
      - pagerduty
    interval: 30
    command: "/etc/sensu/plugins/check-http.rb --proxy-url http://{{proxy_host}}:{{proxy_port}} -u https://{{realm}}-hpz-elb{{hosted_zone}}/services/heartbeat --response-code 200 -k"
    subscribers:
      - e2e-heartbeats

#  # ================================================ #
#  #                      web-servers
#  # ================================================ #
#
#  web-response:
#    # To enable this for an app, need to include the 'response_metrics'
#    # httpd conf file in the web-server role vars
#    type: metric
#    prefix: middleware
#    handlers:
#      - store_in_carbon
#    interval: 30
#    command: "/etc/sensu/plugins/web-response-metrics.rb"
#    subscribers:
#      - web-servers # == monitoring_topics

  # ================================================ #
  #                     postgresql
  # ================================================ #

  postgresql.postmaster.alive:
    type: check
    handlers:
      - pagerduty
    interval: 30
    command: "/etc/sensu/plugins/postgres-alive.rb --psql {{pg_psql_path}} -h localhost -u {{pg_monitoring_user}}"
    subscribers:
      - postgresql

  postgresql.postmaster.connections:
    type: metric
    handlers:
      - store_in_carbon
    interval: 30
    command: "/etc/sensu/plugins/postgres-connections-metric.rb --psql {{pg_psql_path}} -h localhost -u {{pg_monitoring_user}} --scheme :::name:::"
    subscribers:
      - postgresql

  postgresql.postmaster.dbsize:
    type: metric
    handlers:
      - store_in_carbon
    interval: 60
    command: "/etc/sensu/plugins/postgres-database-sizes-metric.rb --psql {{pg_psql_path}} -h localhost -u {{pg_monitoring_user}} --scheme :::name:::"
    subscribers:
      - postgresql

  postgresql.postmaster.locks:
    type: metric
    handlers:
      - store_in_carbon
    interval: 60
    command: "/etc/sensu/plugins/postgres-database-locks-metric.rb --psql {{pg_psql_path}} -h localhost -u {{pg_monitoring_user}} --scheme :::name:::"
    subscribers:
      - postgresql

  postgresql.postmaster.bgwriter:
    type: metric
    handlers:
      - store_in_carbon
    interval: 60
    command: "/etc/sensu/plugins/postgres-statsbgwriter-metric.rb --psql {{pg_psql_path}} -h localhost -u {{pg_monitoring_user}} --scheme :::name:::"
    subscribers:
      - postgresql

  # ================================================ #
  #                     rabbitmq
  # ================================================ #

  rabbitmq.alive:
    type: check
    handlers:
      - pagerduty
    interval: 15
    command: "/etc/sensu/plugins/rabbitmq-alive.rb -u guest --password guest"
    subscribers:
      - rabbitmq

  rabbitmq.consumers:
    type: check
    handlers:
      - pagerduty
    interval: 30
    command: "/etc/sensu/plugins/check-rabbitmq-consumers.rb -u guest --password guest"
    subscribers:
      - rabbitmq

  rabbitmq.messages:
    type: check
    handlers:
      - pagerduty
    interval: 30
    command: "/etc/sensu/plugins/check-rabbitmq-messages.rb -u guest --password guest --warn 250 --critical 500"
    subscribers:
      - rabbitmq

  rabbitmq.queues:
    type: check
    handlers:
      - pagerduty
    interval: 30
    command: "/etc/sensu/plugins/check-rabbitmq-queue.rb -u guest --password guest --warn 250 --critical 500"
    subscribers:
      - rabbitmq

  rabbitmq.queuemetrics:
    type: metric
    handlers:
      - store_in_carbon
    interval: 60
    command: "/etc/sensu/plugins/rabbitmq-queue-metrics.rb -u guest --password guest --scheme :::name:::"
    subscribers:
      - rabbitmq

  # ================================================ #
  #                     memcached
  # ================================================ #
  {% for host in memcached_hosts.split(';') %}
  {% set host_items = host.split(':') %}
  {% set index = loop.index %}

  memcached{{index}}.alive:
    type: check
    handlers:
      - pagerduty
    interval: 30
    command: "/etc/sensu/plugins/memcached-alive-check.rb -h {{ host_items[0] }}"
    subscribers:
      - memcached

  memcached{{index}}.metrics:
    type: metric
    handlers:
      - store_in_carbon
    interval: 60
    command: "/etc/sensu/plugins/memcached-stats-metrics.rb -h {{ host_items[0] }} --scheme :::name:::"
    subscribers:
      - memcached

  {% endfor %}
  # ================================================ #
  #                    redis
  # ================================================ #

  redis.alive:
    type: check
    handlers:
      - pagerduty
    interval: 30
    command: "/etc/sensu/plugins/check-redis-ping.rb -h {{ redis_host }}"
    subscribers:
      - redis

  redis.metrics:
    type: metric
    handlers:
      - store_in_carbon
    interval: 60
    command: "/etc/sensu/plugins/check-redis-info.rb -h {{ redis_host }}"
    subscribers:
      - redis

  # ================================================ #
  #                    EFS
  # ================================================ #

  efs.alive:
    type: check
    handlers:
      - pagerduty
    interval: 60
    command: "/etc/sensu/plugins/check-efs.rb -t {{ realm }}-efs"
    subscribers:
      - efs

  # ================================================ #
  #                     pgpool
  # ================================================ #

  pgpool.alive:
    type: check
    handlers:
      - pagerduty
    interval: 30
    command: "/etc/sensu/plugins/check-pgpool-II.pl -H localhost -u {{pcp_user}} -W {{pcp_password}} -d /usr/bin/ -w 1 -c 2"
    subscribers:
      - postgresql-pgpool

  pgpool.metrics:
    type: metric
    handlers:
      - store_in_carbon
    interval: 30
    command: "/etc/sensu/plugins/check-pgpool-II.pl -H localhost -u {{pcp_user}} -W {{pcp_password}} -d /usr/bin/ -w 1 -c 2"
    subscribers:
      - postgresql-pgpool

  # ================================================ #
  #                     pentaho
  # ================================================ #

  pentaho.alive:
    type: check
    handlers:
      - pagerduty
    interval: 30
    command: "/etc/sensu/plugins/check-procs.rb -p pentaho -C 1"
    subscribers:
      - pentaho

  pentaho.kettle.alive:
    type: check
    handlers:
      - pagerduty
    interval: 30
    command: "/etc/sensu/plugins/check-procs.rb -p kettle -C 1"
    subscribers:
      - kettle

  pentaho.jobs.runtime:
    type: check
    handlers:
      - pagerduty
    interval: 30
    command: "/etc/sensu/plugins/check-procs.rb -p 'job:' -e 600 -w 0 -c 3"
    subscribers:
      - kettle

  # ================================================ #
  #                    generic apache
  # ================================================ #

  httpproc.alive.page:
    type: check
    handlers:
      - pagerduty
    interval: 30
    command: "/etc/sensu/plugins/check-procs.rb -p httpd"
    subscribers:
      - httpproc

  httpproc.alive:
    type: metric
    handlers:
      - store_in_carbon
    interval: 30
    command: "/etc/sensu/plugins/check-procs.rb -p httpd"
    subscribers:
      - httpproc

  # ================================================ #
  #                    generic tomcat
  # ================================================ #

  tomcatproc.alive.page:
    type: check
    handlers:
      - pagerduty
    interval: 30
    command: "/etc/sensu/plugins/check-procs.rb -p tomcat"
    subscribers:
      - tomcatproc

  tomcatproc.alive:
    type: metric
    handlers:
      - store_in_carbon
    interval: 30
    command: "/etc/sensu/plugins/check-procs.rb -p tomcat"
    subscribers:
      - tomcatproc


  # ================================================ #
  #            reportingweb heartbeat
  # ================================================ #

  check.reportingweb.heartbeat:
    type: check
    handlers:
      - http_logstash
      - pagerduty
    interval: 30
    command: "/etc/sensu/plugins/check-http.rb -u http://localhost:{{web_heartbeat_port}}/services/heartbeat --response-code 200 {{elb_app_header}}"
    subscribers:
      - reporting-heartbeats

  reportingweb.heartbeat:
    type: metric
    handlers:
      - store_in_carbon
    interval: 30
    command: "/etc/sensu/plugins/check-http.rb -u http://localhost:{{web_heartbeat_port}}/services/heartbeat --response-code 200 {{elb_app_header}}"
    subscribers:
      - reporting-heartbeats

  # ================================================ #
  #            hpz heartbeat
  # ================================================ #

  check.hpzapp.heartbeat:
    type: check
    handlers:
      - http_logstash
      - pagerduty
    interval: 30
    command: "/etc/sensu/plugins/check-http.rb -u http://localhost:{{web_heartbeat_port}}/services/heartbeat --response-code 200 {{elb_app_header}}"
    subscribers:
      - hpz-heartbeats

  hpzapp.heartbeat:
    type: metric
    handlers:
      - store_in_carbon
    interval: 30
    command: "/etc/sensu/plugins/check-http.rb -u http://localhost:{{web_heartbeat_port}}/services/heartbeat --response-code 200 {{elb_app_header}}"
    subscribers:
      - hpz-heartbeats

  # ================================================ #
  #            pentaho heartbeat
  # ================================================ #

  check.pentaho.heartbeat:
    type: check
    handlers:
      - http_logstash
      - pagerduty
    interval: 30
    command: "/etc/sensu/plugins/check-http.rb -u http://localhost:{{pentaho_heartbeat_port}}/pentaho/ping/alive.gif --response-code 200 {{elb_app_header}}"
    subscribers:
      - pentaho-heartbeats

  pentaho.heartbeat:
    type: metric
    handlers:
      - store_in_carbon
    interval: 30
    command: "/etc/sensu/plugins/check-http.rb -u http://localhost:{{pentaho_heartbeat_port}}/pentaho/ping/alive.gif --response-code 200 {{elb_app_header}}"
    subscribers:
      - pentaho-heartbeats

  # ================================================ #
  #           starmigrate conductor proc
  # ================================================ #

  starmigrate.proc.alive.page:
    type: check
    handlers:
      - pagerduty
    interval: 30
    command: "/etc/sensu/plugins/check-procs.rb -p starmigrate.main"
    subscribers:
      - starmigrate-proc

  starmigrate.proc.alive:
    type: metric
    handlers:
      - store_in_carbon
    interval: 30
    command: "/etc/sensu/plugins/check-procs.rb -p starmigrate.main"
    subscribers:
      - starmigrate-proc


  # ================================================ #
  #           edmigrate conductor proc
  # ================================================ #

  edmigrate.proc.alive.page:
    type: check
    handlers:
      - pagerduty
    interval: 30
    command: "/etc/sensu/plugins/check-procs.rb -p edmigrate.main"
    subscribers:
      - edmigrate-proc

  edmigrate.proc.alive:
    type: metric
    handlers:
      - store_in_carbon
    interval: 30
    command: "/etc/sensu/plugins/check-procs.rb -p edmigrate.main"
    subscribers:
      - edmigrate-proc

  # ================================================ #
  #           udl-util python procs
  # ================================================ #

  udlutil.trigger.alive.page:
    type: check
    handlers:
      - pagerduty
    interval: 30
    command: "/etc/sensu/plugins/check-procs.rb -p edudl2.udl2.udl_trigger"
    subscribers:
      - udlutil

  udlutil.trigger.alive:
    type: metric
    handlers:
      - store_in_carbon
    interval: 30
    command: "/etc/sensu/plugins/check-procs.rb -p edudl2.udl2.udl_trigger"
    subscribers:
      - udlutil

  udlutil.grabber.alive.page:
    type: check
    handlers:
      - pagerduty
    interval: 30
    command: "/etc/sensu/plugins/check-procs.rb -p edudl2.udl2_util.file_grabber"
    subscribers:
      - udlutil

  udlutil.grabber.alive:
    type: metric
    handlers:
      - store_in_carbon
    interval: 30
    command: "/etc/sensu/plugins/check-procs.rb -p edudl2.udl2_util.file_grabber"
    subscribers:
      - udlutil

  # ================================================ #
  #                     rds
  # ================================================ #

  rds.utility.alive:
    type: check
    handlers:
      - pagerduty
    interval: 60
    command: "/etc/sensu/plugins/check-rds.rb -i {{realm}}-rds-utility-cluster --availability-zone-critical {{ utility_rds_facts.instance.availability_zone }}"
    subscribers:
      - rds

  rds.utility.cpu-metrics:
    type: metric
    handlers:
      - store_in_carbon
    interval: 30
    command: "/etc/sensu/plugins/check-rds.rb -i {{realm}}-rds-utility-cluster --cpu-warning-over 50 --period 300"
    subscribers:
      - rds

  rds.utility.cpu-metrics.page:
    type: metric
    handlers:
      - pagerduty
    interval: 300
    command: "/etc/sensu/plugins/check-rds.rb -i {{realm}}-rds-utility-cluster --cpu-critical-over 90 --period 300"
    subscribers:
      - rds

  rds.utility.mem-metrics:
    type: metric
    handlers:
      - store_in_carbon
    interval: 30
    command: "/etc/sensu/plugins/check-rds.rb -i {{realm}}-rds-utility-cluster --memory-warning-over 50 --period 300"
    subscribers:
      - rds

  rds.utility.mem-metrics.page:
    type: metric
    handlers:
      - pagerduty
    interval: 300
    command: "/etc/sensu/plugins/check-rds.rb -i {{realm}}-rds-utility-cluster --memory-critical-over 90 --period 300"
    subscribers:
      - rds

  rds.monitoring.alive:
    type: check
    handlers:
      - pagerduty
    interval: 60
    command: "/etc/sensu/plugins/check-rds.rb -i {{realm}}-rds-monitoring-cluster --availability-zone-critical {{ monitoring_rds_facts.instance.availability_zone }}"
    subscribers:
      - rds

  rds.monitoring.cpu-metrics:
    type: metric
    handlers:
      - store_in_carbon
    interval: 30
    command: "/etc/sensu/plugins/check-rds.rb -i {{realm}}-rds-monitoring-cluster --cpu-warning-over 50 --period 300"
    subscribers:
      - rds

  rds.monitoring.cpu-metrics.page:
    type: metric
    handlers:
      - pagerduty
    interval: 300
    command: "/etc/sensu/plugins/check-rds.rb -i {{realm}}-rds-monitoring-cluster --cpu-critical-over 90 --period 300"
    subscribers:
      - rds

  rds.monitoring.mem-metrics:
    type: metric
    handlers:
      - store_in_carbon
    interval: 30
    command: "/etc/sensu/plugins/check-rds.rb -i {{realm}}-rds-monitoring-cluster --memory-warning-over 50 --period 300"
    subscribers:
      - rds

  rds.monitoring.mem-metrics.page:
    type: metric
    handlers:
      - pagerduty
    interval: 300
    command: "/etc/sensu/plugins/check-rds.rb -i {{realm}}-rds-monitoring-cluster --memory-critical-over 90 --period 300"
    subscribers:
      - rds

  rds.udl-staging.alive:
    type: check
    handlers:
      - pagerduty
    interval: 60
    command: "/etc/sensu/plugins/check-rds.rb -i {{realm}}-rds-udl-staging-cluster --availability-zone-critical {{ udl_staging_rds_facts.instance.availability_zone }}"
    subscribers:
      - rds

  rds.udl-staging.cpu-metrics:
    type: metric
    handlers:
      - store_in_carbon
    interval: 30
    command: "/etc/sensu/plugins/check-rds.rb -i {{realm}}-rds-udl-staging-cluster --cpu-warning-over 50 --period 300"
    subscribers:
      - rds

  rds.udl-staging.cpu-metrics.page:
    type: metric
    handlers:
      - pagerduty
    interval: 300
    command: "/etc/sensu/plugins/check-rds.rb -i {{realm}}-rds-udl-staging-cluster --cpu-critical-over 90 --period 300"
    subscribers:
      - rds

  rds.udl-staging.mem-metrics:
    type: metric
    handlers:
      - store_in_carbon
    interval: 30
    command: "/etc/sensu/plugins/check-rds.rb -i {{realm}}-rds-udl-staging-cluster --memory-warning-over 50 --period 300"
    subscribers:
      - rds

  rds.udl-staging.mem-metrics.page:
    type: metric
    handlers:
      - pagerduty
    interval: 300
    command: "/etc/sensu/plugins/check-rds.rb -i {{realm}}-rds-udl-staging-cluster --memory-critical-over 90 --period 300"
    subscribers:
      - rds
