restore_command = 'gunzip < {{pg_replication_archive_dir}}/%f.gz > %p'
archive_cleanup_command = '{{pg_bin_dir}}/pg_archivecleanup {{pg_replication_archive_dir}} %r'
standby_mode = 'on'
primary_conninfo = 'port=5432 host={{master_db_private_ip}} application_name={{ec2_tag_Name}}'
