cluster={{pg_cluster_name}}
node={{ ansible_eth0.ipv4.address|replace(".", "")|int }}
node_name={{ ansible_hostname }}
conninfo='host={{ ansible_eth0.ipv4.address }} user=repmgr dbname={{pg_database}}'
pg_bindir=/usr/pgsql-9.3/bin
rsync_options='--archive --checksum --progress --rsh="ssh -o \"StrictHostKeyChecking no\""'
ssh_options='-o "StrictHostKeyChecking no"'
reconnect_attempts=600
