#
# Recommended minimum configuration:
#
acl manager proto cache_object
acl localhost src 127.0.0.1/32 ::1
acl to_localhost dst all

acl localnet src {{ loghost_ip }}/32	# LOGHOSTS ONLY
acl localnet src {{ sensu_ip1 }}/32 # For heartbeat checks
acl localnet src {{ sensu_ip2 }}/32 # For heartbeat checks

# For elb connections from pdf-worker
{% for item in pdf_workers %}
acl localnet src {{ item }}/32
{% endfor %}


acl SSL_ports port 443
acl Safe_ports port 80 443
#acl Safe_ports port 1025-65535	# unregistered ports
acl CONNECT method CONNECT POST


# Don't cache heartbeats
acl HEARTBEAT urlpath_regex heartbeat
cache deny HEARTBEAT

acl PENTAHO_HB urlpath_regex alive
cache deny PENTAHO_HB

#
# Recommended minimum Access Permission configuration:
#
# Only allow cachemgr access from localhost
http_access allow manager localhost
http_access deny manager

# Deny requests to certain unsafe ports
http_access deny !Safe_ports

# Deny CONNECT to other than secure SSL ports
#http_access deny CONNECT !SSL_ports

# We strongly recommend the following be uncommented to protect innocent
# web applications running on the proxy server who think the only
# one who can access services on "localhost" is a local user
#http_access deny to_localhost

#
# RULE TO ALLOW ACCESS FROM INTERNAL CLIENTS
#
http_access allow localnet
http_access allow localhost

# AND DENY ALL OTHER ACCESS TO THIS PROXY
http_access deny all

# Squid normally listens to port 3128
http_port 3128

# We recommend you to use at least the following line.
hierarchy_stoplist cgi-bin ?

# Leave coredumps in the first cache dir
coredump_dir /var/spool/squid

## disable caching
cache deny all

access_log syslog:local5.info squid
logfile_rotate 8
